<div class="doc_container">
    <h1>Part C. About other Court cases and orders</h1>

    <form fxLayout="column" #f="ngForm" class="court_cases">
        <div id="10">
            <span>10. Are there any <strong>ongoing</strong> cases in this or any other court about family law, child support, family violence or child welfare that involve any of the parties or any of the children listed on this form?</span>
            <div *ngFor="let item of courtCases; let i=index; trackBy: index">
                <div>
                    <md-radio-group [ngModel]="(item|async)?.ongoingCases" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({ongoingCases: $event})">
                        <md-radio-button [value]="false" fxLayout="row">
                            No
                        </md-radio-button>
                        <md-radio-button [value]="true" fxLayout="row">
                            Yes
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div fxLayout="column" fxFlex="48">
                        <span>
            Court name and place
          </span>
                        <md-input-container>
                            <input mdInput type="text" [ngModel]="(item|async)?.ongoingNameAndPlace" (ngModelChange)="item.update({ongoingNameAndPlace: $event})" name="nameAndPlace">
                        </md-input-container>
                    </div>
                    <!--should be the datepicker-->
                    <div fxLayout="column" fxFlex="48">
                        <span>
            Next Court date
          </span>
                        <md-input-container>
                            <input mdInput type="text" [ngModel]="(item|async)?.ongoingNextCourtDate" (ngModelChange)="item.update({ongoingNextCourtDate: $event})" name="nextCourtDate">
                        </md-input-container>
                    </div>
                </div>
                <span>
        State the names of the parties
      </span>
                <div fxLayout="row">
                    <md-input-container fxFlex="100">
                        <textarea mdInput [ngModel]="(item|async)?.namesOfParties" (ngModelChange)="item.update({namesOfParties: $event})" name="namesOfParties"></textarea>
                    </md-input-container>
                </div>
                <span>
        State the nature of the orders sought (NUMBER EACH ORDER SOUGHT)
      </span>
                <div fxLayout="row">
                    <md-input-container fxFlex="100">
                        <textarea mdInput [ngModel]="(item|async)?.natureOfOrders" (ngModelChange)="item.update({natureOfOrders: $event})" name="natureOfOrders"></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div id="11">
            <span>11. Are there any <strong>existing orders</strong>, agreements, parenting plans or undertakings to a court about family law, child
          support, family violence or abuse in relation to a child (including orders which have applied to a child or a
          member of the child’s family), or child welfare, concerning any of the parties or children listed on this form?</span>
            <div>
                <md-radio-group [ngModel]="(item|async)?.anyExistingOrders" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({anyExistingOrders: $event})">
                    <md-radio-button [value]="false" fxLayout="row">
                        No
                    </md-radio-button>
                    <md-radio-button [value]="true" fxLayout="row">
                        Yes
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div *ngIf="(item|async)?.anyExistingOrders" class="additional_details" fxFlex="100">
                <md-radio-group [ngModel]="(item|async)?.attached" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({attached: $event})">
                    <label>
            <strong>EITHER</strong> attach a full copy of the order, agreement, parenting plan <strong>or</strong> undertaking or set out
            details below (attach an extra page if you need more space, numbering the page/s Item 11 page 2
            and so on).
          </label>
                    <md-radio-button [value]="true" fxLayout="row">
                        Attached is a copy/copies of the following (mark [<strong>X</strong>] the boxes that apply):
                    </md-radio-button>
                    <md-radio-button [value]="false" fxLayout="row">
                        <strong>OR</strong>
                    </md-radio-button>
                </md-radio-group>
                <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="(item|async)?.attached" class="additional_details">
                    <md-checkbox class="example-margin" [ngModel]="(item|async)?.attachedOrder" (ngModelChange)="item.update({attachedOrder: $event})" [ngModelOptions]="{standalone: true}">
                        order
                    </md-checkbox>
                    <md-checkbox class="example-margin" [ngModel]="(item|async)?.attachedUndertaking" (ngModelChange)="item.update({attachedUndertaking: $event})" [ngModelOptions]="{standalone: true}">
                        undertaking
                    </md-checkbox>
                    <md-checkbox class="example-margin" [ngModel]="(item|async)?.attachedParentingPlan" (ngModelChange)="item.update({attachedParentingPlan: $event})" [ngModelOptions]="{standalone: true}">
                        parenting plan
                    </md-checkbox>
                    <md-checkbox class="example-margin" [ngModel]="(item|async)?.attachedAgreement" (ngModelChange)="item.update({attachedAgreement: $event})" [ngModelOptions]="{standalone: true}">
                        agreement
                    </md-checkbox>
                </div>
                <div *ngIf="!(item|async)?.attached" fxLayout="column" class="additional_details">
                    <span>
            GIVE THE FOLLOWING DETAILS
          </span>
                    <div fxLayout="row" fxLayoutAlign="space-between">
                        <div fxLayout="column" fxFlex="48">
                            <span>
                Court name and place
              </span>
                            <md-input-container>
                                <input mdInput type="text" [ngModel]="(item|async)?.existingNameAndPlace" (ngModelChange)="item.update({existingNameAndPlace: $event})" name="existingNameAndPlace">
                            </md-input-container>
                        </div>
                        <!--should be the datepicker-->
                        <div fxLayout="column" fxFlex="48">
                            <span>
                Date
              </span>
                            <md-input-container>
                                <input mdInput type="text" [ngModel]="(item|async)?.existingNextCourtDate" (ngModelChange)="item.update({existingNextCourtDate: $event})" name="existingNextCourtDate">
                            </md-input-container>
                        </div>
                    </div>
                    <span>
            Names of the parties to the order/agreement/parenting plan/undertaking
          </span>
                    <div fxLayout="row">
                        <md-input-container fxFlex="100">
                            <textarea mdInput [ngModel]="(item|async)?.namesOfPartiesToOrder" (ngModelChange)="item.update({namesOfPartiesToOrder: $event})" name="namesOfPartiesToOrder"></textarea>
                        </md-input-container>
                    </div>
                    <span>
            Details of the order/agreement/parenting plan/undertaking
          </span>
                    <div fxLayout="row">
                        <md-input-container fxFlex="100">
                            <textarea mdInput [ngModel]="(item|async)?.detailsOfTheOrder" (ngModelChange)="item.update({detailsOfTheOrder: $event})" name="detailsOfTheOrder"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div id="12">
            <span>12. Is there is a family violence order?</span>
            <md-radio-group [ngModel]="(item|async)?.familyViolenceOrder" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({familyViolenceOrder: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes
                </md-radio-button>
            </md-radio-group>
            <div class="additional_details" *ngIf="(item|async)?.familyViolenceOrder">
                <div>
                    <md-radio-group [ngModel]="(item|async)?.ordersAreConsistrentFVO" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({ordersAreConsistrentFVO: $event})">
                        <label>
              Are the orders sought in this application consistent with that family violence order?
            </label>
                        <md-radio-button [value]="true" fxLayout="row">
                            Yes
                        </md-radio-button>
                        <md-radio-button [value]="false" fxLayout="row">
                            No
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div *ngIf="!(item|async)?.ordersAreConsistrentFVO">
                    <span>
            GIVE BRIEF DETAILS (see sections 68P, 68Q, 68R and 68S of the Family Law Act)
          </span>
                    <div fxLayout="row">
                        <md-input-container fxFlex="100">
                            <textarea mdInput [ngModel]="(item|async)?.detailsOfFV" (ngModelChange)="item.update({detailsOfFV: $event})" name="detailsOfFV"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div id="12A">
            <span>12A. Has there been any contact with the department responsible for child safety with respect to the
          children named in this application or any other child of the household?</span>
            <md-radio-group [ngModel]="(item|async)?.anyDepContact" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({anyDepContact: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes
                </md-radio-button>
            </md-radio-group>
            <div class="additional_details" *ngIf="(item|async)?.anyDepContact">
                <span>
          Provide details including the outcome of that contact and any outstanding concerns.
        </span>
                <div fxLayout="row">
                    <md-input-container fxFlex="100">
                        <textarea mdInput [ngModel]="(item|async)?.anyDepContactDetails" (ngModelChange)="item.update({anyDepContactDetails: $event})" name="anyDepContactDetails"></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div id="13">
            <span>13. Are you seeking a parenting order that provides for the child’s parents to have equal shared parental
          responsibility for the child?</span>
            <md-radio-group [ngModel]="(item|async)?.seekingParentingResp" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({seekingParentingResp: $event})">
                <md-radio-button [value]="true" fxLayout="row">
                    Yes
                </md-radio-button>
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
            </md-radio-group>
            <div class="additional_details" *ngIf="!(item|async)?.seekingParentingResp">
                <div>
                    <md-radio-group [ngModel]="(item|async)?.presumptionDoesNotApply" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({presumptionDoesNotApply: $event})">
                        <label>
              Is this a case where all parties accept that the presumption in
              <a href="http://www.austlii.edu.au/au/legis/cth/consol_act/fla1975114/s61da.html" target="_blank">
                Section 61DA(1)
              </a>
              does not apply?
            </label>
                        <md-radio-button [value]="true" fxLayout="row">
                            Yes
                        </md-radio-button>
                        <md-radio-button [value]="false" fxLayout="row">
                            No
                        </md-radio-button>
                    </md-radio-group>
                </div>
                <div *ngIf="(item|async)?.presumptionDoesNotApply">
                    <span>
            Give brief details of why the presumption does not apply
          </span>
                    <div fxLayout="row">
                        <md-input-container fxFlex="100">
                            <textarea mdInput [ngModel]="(item|async)?.whyPresumpFalse" (ngModelChange)="item.update({whyPresumpFalse: $event})" name="anyDepContactDetails"></textarea>
                        </md-input-container>
                    </div>
                </div>
                <div *ngIf="!(item|async)?.presumptionDoesNotApply">
                    <span>
            Briefly explain why it is in the best interests of the child for the Court to make the order/s
              you are seeking rather than order/s which provide for the child’s parents to have equal
              shared parental responsibility for the child.
          </span>
                    <div fxLayout="row">
                        <md-input-container fxFlex="100">
                            <textarea mdInput [ngModel]="(item|async)?.whyPresumpTrue" (ngModelChange)="item.update({whyPresumpTrue: $event})" name="anyDepContactDetails"></textarea>
                        </md-input-container>
                    </div>
                </div>
            </div>
        </div>

        <div id="13A" *ngIf="(item|async)?.seekingParentingResp">
            <span>13A. Are you seeking a parenting order that provides for the child’s parent to spend time with the child?</span>
            <div>
                <md-radio-group [ngModel]="(item|async)?.seekingParentingSpendTime" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({seekingParentingSpendTime: $event})">
                    <md-radio-button [value]="true" fxLayout="row">
                        Yes
                    </md-radio-button>
                    <md-radio-button [value]="false" fxLayout="row">
                        No
                    </md-radio-button>
                </md-radio-group>
            </div>
            <div class="additional_details" *ngIf="(item|async)?.seekingParentingSpendTime">
                <span>
          Having regard to s65DAA(5), briefly explain why the child spending equal time or
          substantial and significant time with each of the parents is reasonably practicable.
        </span>
                <div fxLayout="row">
                    <md-input-container fxFlex="100">
                        <textarea mdInput [ngModel]="(item|async)?.whySeekingParentingRespTrue" (ngModelChange)="item.update({whySeekingParentingRespTrue: $event})" name="anyDepContactDetails"></textarea>
                    </md-input-container>
                </div>
            </div>
            <div class="additional_details" *ngIf="!(item|async)?.seekingParentingSpendTime">
                <span>
          Briefly explain why it is not in the child’s best interest to spend time with each parent.
        </span>
                <div fxLayout="row">
                    <md-input-container fxFlex="100">
                        <textarea mdInput [ngModel]="(item|async)?.whySeekingParentingRespFalse" (ngModelChange)="item.update({whySeekingParentingRespFalse: $event})" name="anyDepContactDetails"></textarea>
                    </md-input-container>
                </div>
            </div>
        </div>

        <div id="14">
            <span>14.  Have the parties previously entered into a <strong>financial agreement</strong>, a <strong>Part VIIIAB financial agreement</strong> or a
          <strong>superannuation agreement</strong> under the Family Law Act or under any relevant State or Territory legislation?</span>
            <md-radio-group [ngModel]="(item|async)?.previouslyEnteredIntoFA" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({previouslyEnteredIntoFA: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes <strong>PROVIDE A COPY OF THE AGREEMENT/S</strong>
                </md-radio-button>
            </md-radio-group>
        </div>

        <div id="15">
            <span>15. If either party has a superannuation interest, has the non-member spouse or former de facto partner
          served a waiver notice on the Trustee of the eligible superannuation plan under
          <a href="http://www.austlii.edu.au/cgi-bin/sinodisp/au/legis/cth/consol_act/fla1975114/s90mza.html" target="_blank">
            section 90MZA
          </a>
          of the Act for a payment split made in relation to the superannuation interest?</span>
            <md-radio-group [ngModel]="(item|async)?.servedWaiverNotice" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({servedWaiverNotice: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes <strong>ATTACH A COPY OF THE NOTICE</strong>
                </md-radio-button>
            </md-radio-group>
        </div>

        <div id="16">
            <span>16. If either party has a superannuation interest, is there a payment flag in operation in relation to that interest?</span>
            <md-radio-group [ngModel]="(item|async)?.paymentFlagExist" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({paymentFlagExist: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes <strong>ATTACH A COPY OF THE ORDER OR AGREEMENT CREATING THE FLAG</strong>
                </md-radio-button>
            </md-radio-group>
        </div>

        <div id="17">
            <span>17. Is any party currently bankrupt or currently a debtor in bankruptcy proceedings started by either a creditor’s
          petition or a debtor’s petition or currently a debtor subject to a personal insolvency agreement?</span>
            <md-radio-group [ngModel]="(item|async)?.bankruptOrDebtor" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({bankruptOrDebtor: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes
                </md-radio-button>
            </md-radio-group>
        </div>

        <div id="18">
            <span>18.
          Is there a proceeds of crime order or current forfeiture application in relation to any of the property of
          any of the parties (see Proceeds of Crime Act 2002 (C’wlth))?</span>
            <md-radio-group [ngModel]="(item|async)?.proceedsOfConfiscation" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({proceedsOfConfiscation: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes <strong>ATTACH A SEALED COPY OF THE ORDER OR APPLICATION</strong>
                </md-radio-button>
            </md-radio-group>
        </div>

        <div id="19">
            <span>19. Is there any person who may be entitled to become a party to the case under
          <a href="http://www.austlii.edu.au/cgi-bin/sinodisp/au/legis/cth/consol_act/fla1975114/s79.html" target="_blank">
            Subsection 79(10)
          </a>
          or
          <a href="http://www.austlii.edu.au/au/legis/cth/consol_act/fla1975114/s90sm.html" target="_blank">
            subsection 90SM(10)
          </a>
          of the Act?</span>
            <md-radio-group [ngModel]="(item|async)?.partyOfTheCase" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({partyOfTheCase: $event})">
                <md-radio-button [value]="false" fxLayout="row">
                    No
                </md-radio-button>
                <md-radio-button [value]="true" fxLayout="row">
                    Yes
                </md-radio-button>
            </md-radio-group>
            <div class="additional_details" *ngIf="(item|async)?.partyOfTheCase">
                <md-radio-group [ngModel]="(item|async)?.writtenNotice" [ngModelOptions]="{standalone: true}" (ngModelChange)="item.update({writtenNotice: $event})">
                    <label>
            Has written notice been given to that person?
          </label>
                    <md-radio-button [value]="true" fxLayout="row">
                        Yes
                    </md-radio-button>
                    <md-radio-button [value]="false" fxLayout="row">
                        No
                    </md-radio-button>
                </md-radio-group>

            </div>
        </div>

    </form>
    <div fxLayout="row" fxLayoutAlign="end end">
        <button md-raised-button routerLink="/Children">Next</button>
    </div>
</div>