  <div id="47">
    <span>47. Life insurance policies</span>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3>APPLICANT</h3>
          <button md-mini-fab mdTooltip="Add item" [mdTooltipPosition]="'left'" (click)="addItem('applicant')"><md-icon>add</md-icon></button>
        </div>
        <div *ngFor="let item of applicantLifeInsurance; let i=index; trackBy: index" class="group">
          <button md-mini-fab mdTooltip="Remove item" [mdTooltipPosition]="'left'" (click)="removeItem(i, 'applicant')"><md-icon>remove</md-icon></button>
          <div>
            <span>
              Company
            </span>
            <md-input-container >
              <input mdInput type="text"
                     [ngModel]="(item|async)?.applicantLifeInsuranceCompany"
                     (ngModelChange)="item.update({applicantLifeInsuranceCompany: $event})"
                     name="applicantLifeInsuranceCompany_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Policy No.
            </span>
            <md-input-container >
              <input mdInput type="text"
                     [ngModel]="(item|async)?.applicantLifeInsurancePolicyNumber"
                     (ngModelChange)="item.update({applicantLifeInsurancePolicyNumber: $event})"
                     name="applicantLifeInsurancePolicyNumber_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Surrender value of your share $
            </span>
            <md-input-container>
              <input mdInput type="number"
                     [ngModel]="(item|async)?.applicantLifeInsuranceSurrenderValue"
                     (ngModelChange)="item.update({applicantLifeInsuranceSurrenderValue: $event})"
                     name="applicantLifeInsuranceSurrenderValue_{{i}}">
            </md-input-container>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3>RESONDENT</h3>
          <button md-mini-fab mdTooltip="Add item" [mdTooltipPosition]="'left'" (click)="addItem('respondent')"><md-icon>add</md-icon></button>
        </div>
        <div *ngFor="let item of respondentLifeInsurance; let i=index; trackBy: index" class="group">
          <button md-mini-fab mdTooltip="Remove item" [mdTooltipPosition]="'left'" (click)="removeItem(i, 'respondent')"><md-icon>remove</md-icon></button>
          <div>
            <span>
              Company
            </span>
            <md-input-container >
              <input mdInput type="text"
                     [ngModel]="(item|async)?.respondentLifeInsuranceCompany"
                     (ngModelChange)="item.update({respondentLifeInsuranceCompany: $event})"
                     name="respondentLifeInsuranceCompany_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Policy No.
            </span>
            <md-input-container >
              <input mdInput type="text"
                     [ngModel]="(item|async)?.respondentLifeInsurancePolicyNumber"
                     (ngModelChange)="item.update({respondentLifeInsurancePolicyNumber: $event})"
                     name="respondentLifeInsurancePolicyNumber_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Surrender value of your share $
            </span>
            <md-input-container>
              <input mdInput type="number"
                     [ngModel]="(item|async)?.respondentLifeInsuranceSurrenderValue"
                     (ngModelChange)="item.update({respondentLifeInsuranceSurrenderValue: $event})"
                     name="respondentLifeInsuranceSurrenderValue_{{i}}">
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </div>
