<div class="page page1">
  <div class="page-header"></div>

  <div class="page-content">
    <h1>Application for Consent Orders</h1>
  </div>

  <div class="subtitle-block hgl-block">
    Family Law Rules ~ <b>RULE 10.15</b>
  </div>

  <div class="court-use-only hgl-block fl-right">
    <div class="title">court use only</div>
    <div class="body">
      <p class="mb30">Client ID</p>
      <div class="border-bottom-blank mb50"></div>
      <p class="mb20">File number</p>
      <p class="mb20">Filed at</p>
      <p class="mb20">Filed on</p>
    </div>

  </div>

  <div class="pt10 mb10">
    <p class="mb10 w50 pr20 "> <b>Please type or print clearly</b> and mark [<b>X</b>] all boxes that apply. Attach extra pages if you need more space
      to answer any question/s. </p>

    <div class="checkboxes-list mb10 w50 pr20 ">
      <div class="mb5">Filed in:</div>

      <div class="checkbox-row">
        <i class="checkbox"></i>
        <span class="checkbox-label">Family Court of Australia</span>
      </div>

      <div class="checkbox-row">
        <i class="checkbox"></i>
        <span class="checkbox-label">Family Court of Western Australia</span>
      </div>

      <div class="checkbox-row">
        <div class="fl-left bg-white">
          <i class="checkbox"></i>
          <span class="checkbox-label">Other (specify)</span>
        </div>
        <div class="border-bottom-blank" style="height:19px;"></div>
      </div>

    </div>

    <h2 class="mb5">Notice to the parties</h2>
    <ul>
      <li class="w50 pr20">Each party to the application must sign a statement of truth – for an applicant a statement in accordance with Part
        J and for a respondent a statement in accordance with Part L or N, as applicable.</li>
      <li>
        The application must be filed promptly. The consent order may not be made if the application is not filed within 90 days
        of the date of the first statement of truth (see Parts J and L).
      </li>
      <li>
        Each copy of the proposed orders by consent must be certified by the applicant or lawyer as a true copy.
      </li>
      <li>
        If an order or injunction is sought under Part VIIIAA or Part VIIIAB of the Family Law Act the third party must be named
        as a respondent to this application and must sign the proposed orders by consent. The third party must also sign
        Part N of the form but is not required to complete any other Part.
      </li>
    </ul>

  </div>


  <div class="part-title-wrapper mb5">
    <div class="part-name fl-left">Part A</div>
    <div class="part-title">About the parties</div>
  </div>

  <div class="steps-form">
    <div class="cols-names">
      <div class="left-col">Applicant</div>
      <div class="right-col hgl-block">Respondent</div>
    </div>


    <div class="step">
      <i class="step-number">1</i>

      <div class="left-col">

        <div class="input-group">
          <label>What is your family name as used now?</label>
          <div class="fake-input"></div>
        </div>

        <div class="input-group">
          <label>Given names?</label>
          <div class="fake-input"></div>
        </div>

        <div class="input-group-checkboxes">
          <div class="left-col">
            <i class="checkbox"></i> Male
          </div>
          <div class="right-col">
            <i class="checkbox"></i> Female
          </div>
        </div>

      </div>

      <div class="right-col hgl-light-block">
        <div class="input-group">
          <label>What is your family name as used now?</label>
          <div class="fake-input"></div>
        </div>
        <div class="input-group">
          <label>Given names?</label>
          <div class="fake-input"></div>
        </div>

        <div class="input-group-checkboxes">
          <div class="left-col">
            <i class="checkbox"></i> Male
          </div>
          <div class="right-col">
            <i class="checkbox"></i> Female
          </div>
        </div>
      </div>
    </div>

    <div class="step">
      <i class="step-number">2</i>

      <div class="left-col">
        <div class="input-group">
          <label>What is your usual occupation?</label>
          <div class="fake-input"></div>
        </div>

      </div>

      <div class="right-col hgl-light-block">
        <div class="input-group">
          <label>What is your usual occupation?</label>
          <div class="fake-input"></div>
        </div>

      </div>

    </div>

    <div class="step">
      <i class="step-number">3</i>

      <div class="left-col">
        <div class="input-group">
          <label>What is your contact address (address for service) in Australia? If you give a lawyer’s address, include the name of the law firm.</label>
          <div class="inputs-list">
            <div class="fake-input"></div>
            <div class="fake-input"></div>
            <div class="fake-input">
              <div class="left-col">State</div>
              <div class="right-col">Postcode</div>
            </div>
            <div class="fake-input">
              <div class="left-col">Phone</div>
              <div class="right-col"><span class="required">Fax</span></div>
            </div>
            <div class="fake-input">
              DX
            </div>
            <div class="fake-input">
              Lawyer's code
            </div>
            <div class="fake-input">
              <span class="required">Email</span>
            </div>
          </div>
        </div>

      </div>

      <div class="right-col hgl-light-block">
        <div class="input-group">
          <label>What is your contact address (address for service) in Australia? If you give a lawyer’s address, include the name of the law firm.</label>
          <div class="inputs-list">
            <div class="fake-input"></div>
            <div class="fake-input"></div>
            <div class="fake-input">
              <div class="left-col">State</div>
              <div class="right-col">Postcode</div>
            </div>
            <div class="fake-input">
              <div class="left-col">Phone</div>
              <div class="right-col"><span class="required">Fax</span></div>
            </div>
            <div class="fake-input">
              DX
            </div>
            <div class="fake-input">
              Lawyer's code
            </div>
            <div class="fake-input">
              <span class="required">Email</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="required-sign-explanation mb20">
      Please do not include email or fax addresses unless you are willing to receive documents from the Court and other parties
      in that way.
    </div>

  </div>




  <div class="page-footer">
    <div class="footer-signature-block">
      <div class="row">
        <div class="col-xs-6">
          <div class="signature-label fl-left pr5">Signature of applicant </div>
          <div class="signature-blank"></div>
        </div>
        <div class="col-xs-6">
          <div class="signature-label fl-left pr5">Signature of respondent </div>
          <div class="signature-blank"></div>
        </div>


      </div>
    </div>

    <div class="footer-page-number">
      1
    </div>

  </div>

</div>

<!-- // PAGE 1  -->


<div class="page page2">

  <div class="page-content">
    <div class="steps-form">
      <div class="cols-names">
        <div class="left-col">Applicant</div>
        <div class="right-col">Responder</div>
      </div>

      <div class="step">
        <i class="step-number">4</i>

        <div class="left-col">
          <div class="input-group">
            <label>When and in what country were you born?</label>

            <div class="input-format-labels">
              <div class="fl-left w70">
                day <span class="delimiter">/</span> month <span class="delimiter">/</span> year
              </div>

              Country
            </div>

            <div class="fake-input">
              <div class="format-delimiter" style="margin-left: 30px">/</div>
              <div class="format-delimiter" style="margin-left: 55px;">/</div>
            </div>
          </div>
        </div>

        <div class="right-col hgl-light-block">
          <div class="input-group">
            <label>When and in what country were you born?</label>

            <div class="input-format-labels">
              <div class="fl-left w70">
                day <span class="delimiter">/</span> month <span class="delimiter">/</span> year
              </div>

              Country
            </div>

            <div class="fake-input">
              <div class="format-delimiter" style="margin-left: 30px">/</div>
              <div class="format-delimiter" style="margin-left: 55px;">/</div>
            </div>
          </div>
        </div>

      </div>

      <div class="step unrequired-sign">
        <i class="step-number">5</i>

        <div class="left-col">
          Are you of Aboriginal and/or of Torres Strait Islander origin?
          <div class="input-group">
            <i class="checkbox"></i> <b>No</b>
          </div>

          <div class="input-group">
            <i class="checkbox"></i> <b>Yes</b> &nbsp; Aboriginal
          </div>

          <div class="input-group">
            <i class="checkbox"></i> <b>Yes</b> &nbsp; Strait Islander
          </div>

          <div class="input-group">
            <i class="checkbox"></i> <b>Yes</b> &nbsp; Aboriginal Strait Islander
          </div>
        </div>

        <div class="right-col hgl-light-block">
          Are you of Aboriginal and/or of Torres Strait Islander origin?
          <div class="input-group">
            <i class="checkbox"></i> <b>No</b>
          </div>

          <div class="input-group">
            <i class="checkbox"></i> <b>Yes</b> &nbsp; Aboriginal
          </div>

          <div class="input-group">
            <i class="checkbox"></i> <b>Yes</b> &nbsp; Strait Islander
          </div>

          <div class="input-group">
            <i class="checkbox"></i> <b>Yes</b> &nbsp; Aboriginal Strait Islander
          </div>
        </div>

        <div class="clear  mb30"></div>
        <div class="unrequired-sign-explanation mb30">
          You are not required to answer this question, but it will greatly assist the Court if you do. The information sought is being
          collected to assist the Court in planning and delivering client services. It is possible that you may be contacted
          to participate in a review of a particular aspect of the Court’s services, although your right not to participate
          will be respected. The information you provide may be shared with researchers approved by the Court, and may be
          included in publications in statistical form in a way that does not identify you.
        </div>

        <div class="mb50">
          <b>
                        If there is more than one applicant or respondent, attach an extra page with the details for Applicant 2/ Respondent 2, answering Items 1–5. A third party who will be bound by an order sought under Part VIIIAA or Part VIIIAB of the Family Law Act must be named as a respondent but need not complete any of this form except Part N.
                    </b>
        </div>




      </div>

    </div>
    <!-- //steps form -->


    <div class="part-title-wrapper">
      <div class="part-name">Part B</div>
      <div class="part-title mb30">About the relationship of the parties</div>
    </div>

    <div class="steps-form not-applicable-column">

      <div class="step ">
        <div class="step-number">6</div>

        <div class="left-col">
          <div class="input-group w50">
            When did you begin living together?
            <div class="fake-input">
              <div class="format-delimiter">Date</div>
              <input type="text" class="l8 w12">
              <div class="format-delimiter l20">/</div>
              <input type="text" class="l21 w19">
              <div class="format-delimiter l40">/</div>
              <input type="text" class="l41 w19">
            </div>
          </div>
        </div>

        <div class="right-col">
          <div class="col-name">
            Not<br> Applicable
          </div>
          <i class="checkbox"></i>
        </div>
      </div>

      <div class="step">
        <i class="step-number">7</i>

        <div class="left-col">

          <div class="inputs-group">
            <div class="input-group w50">
              If married, when and where did you get married?*
              <div class="fake-input">
                <div class="format-delimiter">Date</div>
                <input type="text" class="l20 w10">
                <div class="format-delimiter l20">/</div>
                <div class="format-delimiter l40">/</div>
              </div>
            </div>

            <div class="input-group">
              Town/City
              <div class="fake-input"></div>
            </div>

            <div class="input-group">
              Country
              <div class="fake-input"></div>
            </div>


          </div>
        </div>

        <div class="right-col">
          <div class="checkbox"></div>
        </div>

      </div>

      <div class="step">
        <i class="step-number">8</i>

        <div class="left-col">
          <div class="input-group w50">
            When did you finally separate?
            <div class="fake-input">
              <div class="format-delimiter">Date</div>
              <div class="format-delimiter l20">/</div>
              <div class="format-delimiter l40">/</div>

            </div>

          </div>
        </div>

        <div class="right-col">
          <div class="checkbox"></div>
        </div>

      </div>

      <div class="step">
        <i class="step-number">9</i>

        <div class="left-col">
          <div class="input-group">
            When and where did you get divorced?
            <div class="fake-input">
              <div class="format-delimiter l0">Date</div>
              <div class="format-delimiter l20">/</div>
              <div class="format-delimiter l40">/</div>
            </div>

          </div>
        </div>

        <div class="right-col">
          <div class="checkbox"></div>
        </div>

      </div>


    </div>

  </div>

  <div class="page-footer">
    <div class="footer-signature-block">
      <div class="row">
        <div class="col-xs-6">
          Signature of applicant
          <div class="signature-blank"></div>
        </div>
        <div class="col-xs-6">
          Signature of respondent
          <div class="signature-blank"></div>
        </div>

      </div>
    </div>

    <div class="footer-page-number">
      2
    </div>

  </div>

</div>