* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Myriad Pro;
  letter-spacing: -1px;
}
.pos-abs {
  position: absolute;
}
.clear {
  clear: both;
}
.fl-right {
  float: right;
}
.fl-left {
  float: left;
}
.w0 {
  width: 0%;
}
.w1 {
  width: 1%;
}
.w2 {
  width: 2%;
}
.w3 {
  width: 3%;
}
.w4 {
  width: 4%;
}
.w5 {
  width: 5%;
}
.w6 {
  width: 6%;
}
.w7 {
  width: 7%;
}
.w8 {
  width: 8%;
}
.w9 {
  width: 9%;
}
.w10 {
  width: 10%;
}
.w11 {
  width: 11%;
}
.w12 {
  width: 12%;
}
.w13 {
  width: 13%;
}
.w14 {
  width: 14%;
}
.w15 {
  width: 15%;
}
.w16 {
  width: 16%;
}
.w17 {
  width: 17%;
}
.w18 {
  width: 18%;
}
.w19 {
  width: 19%;
}
.w20 {
  width: 20%;
}
.w21 {
  width: 21%;
}
.w22 {
  width: 22%;
}
.w23 {
  width: 23%;
}
.w24 {
  width: 24%;
}
.w25 {
  width: 25%;
}
.w26 {
  width: 26%;
}
.w27 {
  width: 27%;
}
.w28 {
  width: 28%;
}
.w29 {
  width: 29%;
}
.w30 {
  width: 30%;
}
.w31 {
  width: 31%;
}
.w32 {
  width: 32%;
}
.w33 {
  width: 33%;
}
.w34 {
  width: 34%;
}
.w35 {
  width: 35%;
}
.w36 {
  width: 36%;
}
.w37 {
  width: 37%;
}
.w38 {
  width: 38%;
}
.w39 {
  width: 39%;
}
.w40 {
  width: 40%;
}
.w41 {
  width: 41%;
}
.w42 {
  width: 42%;
}
.w43 {
  width: 43%;
}
.w44 {
  width: 44%;
}
.w45 {
  width: 45%;
}
.w46 {
  width: 46%;
}
.w47 {
  width: 47%;
}
.w48 {
  width: 48%;
}
.w49 {
  width: 49%;
}
.w50 {
  width: 50%;
}
.w51 {
  width: 51%;
}
.w52 {
  width: 52%;
}
.w53 {
  width: 53%;
}
.w54 {
  width: 54%;
}
.w55 {
  width: 55%;
}
.w56 {
  width: 56%;
}
.w57 {
  width: 57%;
}
.w58 {
  width: 58%;
}
.w59 {
  width: 59%;
}
.w60 {
  width: 60%;
}
.w61 {
  width: 61%;
}
.w62 {
  width: 62%;
}
.w63 {
  width: 63%;
}
.w64 {
  width: 64%;
}
.w65 {
  width: 65%;
}
.w66 {
  width: 66%;
}
.w67 {
  width: 67%;
}
.w68 {
  width: 68%;
}
.w69 {
  width: 69%;
}
.w70 {
  width: 70%;
}
.w71 {
  width: 71%;
}
.w72 {
  width: 72%;
}
.w73 {
  width: 73%;
}
.w74 {
  width: 74%;
}
.w75 {
  width: 75%;
}
.w76 {
  width: 76%;
}
.w77 {
  width: 77%;
}
.w78 {
  width: 78%;
}
.w79 {
  width: 79%;
}
.w80 {
  width: 80%;
}
.w81 {
  width: 81%;
}
.w82 {
  width: 82%;
}
.w83 {
  width: 83%;
}
.w84 {
  width: 84%;
}
.w85 {
  width: 85%;
}
.w86 {
  width: 86%;
}
.w87 {
  width: 87%;
}
.w88 {
  width: 88%;
}
.w89 {
  width: 89%;
}
.w90 {
  width: 90%;
}
.w91 {
  width: 91%;
}
.w92 {
  width: 92%;
}
.w93 {
  width: 93%;
}
.w94 {
  width: 94%;
}
.w95 {
  width: 95%;
}
.w96 {
  width: 96%;
}
.w97 {
  width: 97%;
}
.w98 {
  width: 98%;
}
.w99 {
  width: 99%;
}
.w100 {
  width: 100%;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.mb55 {
  margin-bottom: 55px;
}
.mb60 {
  margin-bottom: 60px;
}
.mb65 {
  margin-bottom: 65px;
}
.mb70 {
  margin-bottom: 70px;
}
.mb75 {
  margin-bottom: 75px;
}
.mb80 {
  margin-bottom: 80px;
}
.mb85 {
  margin-bottom: 85px;
}
.mb90 {
  margin-bottom: 90px;
}
.mb95 {
  margin-bottom: 95px;
}
.mb100 {
  margin-bottom: 100px;
}
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mt55 {
  margin-top: 55px;
}
.mt60 {
  margin-top: 60px;
}
.mt65 {
  margin-top: 65px;
}
.mt70 {
  margin-top: 70px;
}
.mt75 {
  margin-top: 75px;
}
.mt80 {
  margin-top: 80px;
}
.mt85 {
  margin-top: 85px;
}
.mt90 {
  margin-top: 90px;
}
.mt95 {
  margin-top: 95px;
}
.mt100 {
  margin-top: 100px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mr45 {
  margin-right: 45px;
}
.mr50 {
  margin-right: 50px;
}
.mr55 {
  margin-right: 55px;
}
.mr60 {
  margin-right: 60px;
}
.mr65 {
  margin-right: 65px;
}
.mr70 {
  margin-right: 70px;
}
.mr75 {
  margin-right: 75px;
}
.mr80 {
  margin-right: 80px;
}
.mr85 {
  margin-right: 85px;
}
.mr90 {
  margin-right: 90px;
}
.mr95 {
  margin-right: 95px;
}
.mr100 {
  margin-right: 100px;
}
.ml0 {
  margin-left: 0px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.ml55 {
  margin-left: 55px;
}
.ml60 {
  margin-left: 60px;
}
.ml65 {
  margin-left: 65px;
}
.ml70 {
  margin-left: 70px;
}
.ml75 {
  margin-left: 75px;
}
.ml80 {
  margin-left: 80px;
}
.ml85 {
  margin-left: 85px;
}
.ml90 {
  margin-left: 90px;
}
.ml95 {
  margin-left: 95px;
}
.ml100 {
  margin-left: 100px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb50 {
  padding-bottom: 50px;
}
.pb55 {
  padding-bottom: 55px;
}
.pb60 {
  padding-bottom: 60px;
}
.pb65 {
  padding-bottom: 65px;
}
.pb70 {
  padding-bottom: 70px;
}
.pb75 {
  padding-bottom: 75px;
}
.pb80 {
  padding-bottom: 80px;
}
.pb85 {
  padding-bottom: 85px;
}
.pb90 {
  padding-bottom: 90px;
}
.pb95 {
  padding-bottom: 95px;
}
.pb100 {
  padding-bottom: 100px;
}
.pt0 {
  padding-top: 0px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt45 {
  padding-top: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pt55 {
  padding-top: 55px;
}
.pt60 {
  padding-top: 60px;
}
.pt65 {
  padding-top: 65px;
}
.pt70 {
  padding-top: 70px;
}
.pt75 {
  padding-top: 75px;
}
.pt80 {
  padding-top: 80px;
}
.pt85 {
  padding-top: 85px;
}
.pt90 {
  padding-top: 90px;
}
.pt95 {
  padding-top: 95px;
}
.pt100 {
  padding-top: 100px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pr45 {
  padding-right: 45px;
}
.pr50 {
  padding-right: 50px;
}
.pr55 {
  padding-right: 55px;
}
.pr60 {
  padding-right: 60px;
}
.pr65 {
  padding-right: 65px;
}
.pr70 {
  padding-right: 70px;
}
.pr75 {
  padding-right: 75px;
}
.pr80 {
  padding-right: 80px;
}
.pr85 {
  padding-right: 85px;
}
.pr90 {
  padding-right: 90px;
}
.pr95 {
  padding-right: 95px;
}
.pr100 {
  padding-right: 100px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl45 {
  padding-left: 45px;
}
.pl50 {
  padding-left: 50px;
}
.pl55 {
  padding-left: 55px;
}
.pl60 {
  padding-left: 60px;
}
.pl65 {
  padding-left: 65px;
}
.pl70 {
  padding-left: 70px;
}
.pl75 {
  padding-left: 75px;
}
.pl80 {
  padding-left: 80px;
}
.pl85 {
  padding-left: 85px;
}
.pl90 {
  padding-left: 90px;
}
.pl95 {
  padding-left: 95px;
}
.pl100 {
  padding-left: 100px;
}
.l0 {
  left: 0%;
}
.l1 {
  left: 1%;
}
.l2 {
  left: 2%;
}
.l3 {
  left: 3%;
}
.l4 {
  left: 4%;
}
.l5 {
  left: 5%;
}
.l6 {
  left: 6%;
}
.l7 {
  left: 7%;
}
.l8 {
  left: 8%;
}
.l9 {
  left: 9%;
}
.l10 {
  left: 10%;
}
.l11 {
  left: 11%;
}
.l12 {
  left: 12%;
}
.l13 {
  left: 13%;
}
.l14 {
  left: 14%;
}
.l15 {
  left: 15%;
}
.l16 {
  left: 16%;
}
.l17 {
  left: 17%;
}
.l18 {
  left: 18%;
}
.l19 {
  left: 19%;
}
.l20 {
  left: 20%;
}
.l21 {
  left: 21%;
}
.l22 {
  left: 22%;
}
.l23 {
  left: 23%;
}
.l24 {
  left: 24%;
}
.l25 {
  left: 25%;
}
.l26 {
  left: 26%;
}
.l27 {
  left: 27%;
}
.l28 {
  left: 28%;
}
.l29 {
  left: 29%;
}
.l30 {
  left: 30%;
}
.l31 {
  left: 31%;
}
.l32 {
  left: 32%;
}
.l33 {
  left: 33%;
}
.l34 {
  left: 34%;
}
.l35 {
  left: 35%;
}
.l36 {
  left: 36%;
}
.l37 {
  left: 37%;
}
.l38 {
  left: 38%;
}
.l39 {
  left: 39%;
}
.l40 {
  left: 40%;
}
.l41 {
  left: 41%;
}
.l42 {
  left: 42%;
}
.l43 {
  left: 43%;
}
.l44 {
  left: 44%;
}
.l45 {
  left: 45%;
}
.l46 {
  left: 46%;
}
.l47 {
  left: 47%;
}
.l48 {
  left: 48%;
}
.l49 {
  left: 49%;
}
.l50 {
  left: 50%;
}
.l51 {
  left: 51%;
}
.l52 {
  left: 52%;
}
.l53 {
  left: 53%;
}
.l54 {
  left: 54%;
}
.l55 {
  left: 55%;
}
.l56 {
  left: 56%;
}
.l57 {
  left: 57%;
}
.l58 {
  left: 58%;
}
.l59 {
  left: 59%;
}
.l60 {
  left: 60%;
}
.l61 {
  left: 61%;
}
.l62 {
  left: 62%;
}
.l63 {
  left: 63%;
}
.l64 {
  left: 64%;
}
.l65 {
  left: 65%;
}
.l66 {
  left: 66%;
}
.l67 {
  left: 67%;
}
.l68 {
  left: 68%;
}
.l69 {
  left: 69%;
}
.l70 {
  left: 70%;
}
.l71 {
  left: 71%;
}
.l72 {
  left: 72%;
}
.l73 {
  left: 73%;
}
.l74 {
  left: 74%;
}
.l75 {
  left: 75%;
}
.l76 {
  left: 76%;
}
.l77 {
  left: 77%;
}
.l78 {
  left: 78%;
}
.l79 {
  left: 79%;
}
.l80 {
  left: 80%;
}
.l81 {
  left: 81%;
}
.l82 {
  left: 82%;
}
.l83 {
  left: 83%;
}
.l84 {
  left: 84%;
}
.l85 {
  left: 85%;
}
.l86 {
  left: 86%;
}
.l87 {
  left: 87%;
}
.l88 {
  left: 88%;
}
.l89 {
  left: 89%;
}
.l90 {
  left: 90%;
}
.l91 {
  left: 91%;
}
.l92 {
  left: 92%;
}
.l93 {
  left: 93%;
}
.l94 {
  left: 94%;
}
.l95 {
  left: 95%;
}
.l96 {
  left: 96%;
}
.l97 {
  left: 97%;
}
.l98 {
  left: 98%;
}
.l99 {
  left: 99%;
}
.l100 {
  left: 100%;
}
.r0 {
  right: 0%;
}
.r1 {
  right: 1%;
}
.r2 {
  right: 2%;
}
.r3 {
  right: 3%;
}
.r4 {
  right: 4%;
}
.r5 {
  right: 5%;
}
.r6 {
  right: 6%;
}
.r7 {
  right: 7%;
}
.r8 {
  right: 8%;
}
.r9 {
  right: 9%;
}
.r10 {
  right: 10%;
}
.r11 {
  right: 11%;
}
.r12 {
  right: 12%;
}
.r13 {
  right: 13%;
}
.r14 {
  right: 14%;
}
.r15 {
  right: 15%;
}
.r16 {
  right: 16%;
}
.r17 {
  right: 17%;
}
.r18 {
  right: 18%;
}
.r19 {
  right: 19%;
}
.r20 {
  right: 20%;
}
.r21 {
  right: 21%;
}
.r22 {
  right: 22%;
}
.r23 {
  right: 23%;
}
.r24 {
  right: 24%;
}
.r25 {
  right: 25%;
}
.r26 {
  right: 26%;
}
.r27 {
  right: 27%;
}
.r28 {
  right: 28%;
}
.r29 {
  right: 29%;
}
.r30 {
  right: 30%;
}
.r31 {
  right: 31%;
}
.r32 {
  right: 32%;
}
.r33 {
  right: 33%;
}
.r34 {
  right: 34%;
}
.r35 {
  right: 35%;
}
.r36 {
  right: 36%;
}
.r37 {
  right: 37%;
}
.r38 {
  right: 38%;
}
.r39 {
  right: 39%;
}
.r40 {
  right: 40%;
}
.r41 {
  right: 41%;
}
.r42 {
  right: 42%;
}
.r43 {
  right: 43%;
}
.r44 {
  right: 44%;
}
.r45 {
  right: 45%;
}
.r46 {
  right: 46%;
}
.r47 {
  right: 47%;
}
.r48 {
  right: 48%;
}
.r49 {
  right: 49%;
}
.r50 {
  right: 50%;
}
.r51 {
  right: 51%;
}
.r52 {
  right: 52%;
}
.r53 {
  right: 53%;
}
.r54 {
  right: 54%;
}
.r55 {
  right: 55%;
}
.r56 {
  right: 56%;
}
.r57 {
  right: 57%;
}
.r58 {
  right: 58%;
}
.r59 {
  right: 59%;
}
.r60 {
  right: 60%;
}
.r61 {
  right: 61%;
}
.r62 {
  right: 62%;
}
.r63 {
  right: 63%;
}
.r64 {
  right: 64%;
}
.r65 {
  right: 65%;
}
.r66 {
  right: 66%;
}
.r67 {
  right: 67%;
}
.r68 {
  right: 68%;
}
.r69 {
  right: 69%;
}
.r70 {
  right: 70%;
}
.r71 {
  right: 71%;
}
.r72 {
  right: 72%;
}
.r73 {
  right: 73%;
}
.r74 {
  right: 74%;
}
.r75 {
  right: 75%;
}
.r76 {
  right: 76%;
}
.r77 {
  right: 77%;
}
.r78 {
  right: 78%;
}
.r79 {
  right: 79%;
}
.r80 {
  right: 80%;
}
.r81 {
  right: 81%;
}
.r82 {
  right: 82%;
}
.r83 {
  right: 83%;
}
.r84 {
  right: 84%;
}
.r85 {
  right: 85%;
}
.r86 {
  right: 86%;
}
.r87 {
  right: 87%;
}
.r88 {
  right: 88%;
}
.r89 {
  right: 89%;
}
.r90 {
  right: 90%;
}
.r91 {
  right: 91%;
}
.r92 {
  right: 92%;
}
.r93 {
  right: 93%;
}
.r94 {
  right: 94%;
}
.r95 {
  right: 95%;
}
.r96 {
  right: 96%;
}
.r97 {
  right: 97%;
}
.r98 {
  right: 98%;
}
.r99 {
  right: 99%;
}
.r100 {
  right: 100%;
}
.t0 {
  top: 0%;
}
.t1 {
  top: 1%;
}
.t2 {
  top: 2%;
}
.t3 {
  top: 3%;
}
.t4 {
  top: 4%;
}
.t5 {
  top: 5%;
}
.t6 {
  top: 6%;
}
.t7 {
  top: 7%;
}
.t8 {
  top: 8%;
}
.t9 {
  top: 9%;
}
.t10 {
  top: 10%;
}
.t11 {
  top: 11%;
}
.t12 {
  top: 12%;
}
.t13 {
  top: 13%;
}
.t14 {
  top: 14%;
}
.t15 {
  top: 15%;
}
.t16 {
  top: 16%;
}
.t17 {
  top: 17%;
}
.t18 {
  top: 18%;
}
.t19 {
  top: 19%;
}
.t20 {
  top: 20%;
}
.t21 {
  top: 21%;
}
.t22 {
  top: 22%;
}
.t23 {
  top: 23%;
}
.t24 {
  top: 24%;
}
.t25 {
  top: 25%;
}
.t26 {
  top: 26%;
}
.t27 {
  top: 27%;
}
.t28 {
  top: 28%;
}
.t29 {
  top: 29%;
}
.t30 {
  top: 30%;
}
.t31 {
  top: 31%;
}
.t32 {
  top: 32%;
}
.t33 {
  top: 33%;
}
.t34 {
  top: 34%;
}
.t35 {
  top: 35%;
}
.t36 {
  top: 36%;
}
.t37 {
  top: 37%;
}
.t38 {
  top: 38%;
}
.t39 {
  top: 39%;
}
.t40 {
  top: 40%;
}
.t41 {
  top: 41%;
}
.t42 {
  top: 42%;
}
.t43 {
  top: 43%;
}
.t44 {
  top: 44%;
}
.t45 {
  top: 45%;
}
.t46 {
  top: 46%;
}
.t47 {
  top: 47%;
}
.t48 {
  top: 48%;
}
.t49 {
  top: 49%;
}
.t50 {
  top: 50%;
}
.t51 {
  top: 51%;
}
.t52 {
  top: 52%;
}
.t53 {
  top: 53%;
}
.t54 {
  top: 54%;
}
.t55 {
  top: 55%;
}
.t56 {
  top: 56%;
}
.t57 {
  top: 57%;
}
.t58 {
  top: 58%;
}
.t59 {
  top: 59%;
}
.t60 {
  top: 60%;
}
.t61 {
  top: 61%;
}
.t62 {
  top: 62%;
}
.t63 {
  top: 63%;
}
.t64 {
  top: 64%;
}
.t65 {
  top: 65%;
}
.t66 {
  top: 66%;
}
.t67 {
  top: 67%;
}
.t68 {
  top: 68%;
}
.t69 {
  top: 69%;
}
.t70 {
  top: 70%;
}
.t71 {
  top: 71%;
}
.t72 {
  top: 72%;
}
.t73 {
  top: 73%;
}
.t74 {
  top: 74%;
}
.t75 {
  top: 75%;
}
.t76 {
  top: 76%;
}
.t77 {
  top: 77%;
}
.t78 {
  top: 78%;
}
.t79 {
  top: 79%;
}
.t80 {
  top: 80%;
}
.t81 {
  top: 81%;
}
.t82 {
  top: 82%;
}
.t83 {
  top: 83%;
}
.t84 {
  top: 84%;
}
.t85 {
  top: 85%;
}
.t86 {
  top: 86%;
}
.t87 {
  top: 87%;
}
.t88 {
  top: 88%;
}
.t89 {
  top: 89%;
}
.t90 {
  top: 90%;
}
.t91 {
  top: 91%;
}
.t92 {
  top: 92%;
}
.t93 {
  top: 93%;
}
.t94 {
  top: 94%;
}
.t95 {
  top: 95%;
}
.t96 {
  top: 96%;
}
.t97 {
  top: 97%;
}
.t98 {
  top: 98%;
}
.t99 {
  top: 99%;
}
.t100 {
  top: 100%;
}
.b0 {
  bottom: 0%;
}
.b1 {
  bottom: 1%;
}
.b2 {
  bottom: 2%;
}
.b3 {
  bottom: 3%;
}
.b4 {
  bottom: 4%;
}
.b5 {
  bottom: 5%;
}
.b6 {
  bottom: 6%;
}
.b7 {
  bottom: 7%;
}
.b8 {
  bottom: 8%;
}
.b9 {
  bottom: 9%;
}
.b10 {
  bottom: 10%;
}
.b11 {
  bottom: 11%;
}
.b12 {
  bottom: 12%;
}
.b13 {
  bottom: 13%;
}
.b14 {
  bottom: 14%;
}
.b15 {
  bottom: 15%;
}
.b16 {
  bottom: 16%;
}
.b17 {
  bottom: 17%;
}
.b18 {
  bottom: 18%;
}
.b19 {
  bottom: 19%;
}
.b20 {
  bottom: 20%;
}
.b21 {
  bottom: 21%;
}
.b22 {
  bottom: 22%;
}
.b23 {
  bottom: 23%;
}
.b24 {
  bottom: 24%;
}
.b25 {
  bottom: 25%;
}
.b26 {
  bottom: 26%;
}
.b27 {
  bottom: 27%;
}
.b28 {
  bottom: 28%;
}
.b29 {
  bottom: 29%;
}
.b30 {
  bottom: 30%;
}
.b31 {
  bottom: 31%;
}
.b32 {
  bottom: 32%;
}
.b33 {
  bottom: 33%;
}
.b34 {
  bottom: 34%;
}
.b35 {
  bottom: 35%;
}
.b36 {
  bottom: 36%;
}
.b37 {
  bottom: 37%;
}
.b38 {
  bottom: 38%;
}
.b39 {
  bottom: 39%;
}
.b40 {
  bottom: 40%;
}
.b41 {
  bottom: 41%;
}
.b42 {
  bottom: 42%;
}
.b43 {
  bottom: 43%;
}
.b44 {
  bottom: 44%;
}
.b45 {
  bottom: 45%;
}
.b46 {
  bottom: 46%;
}
.b47 {
  bottom: 47%;
}
.b48 {
  bottom: 48%;
}
.b49 {
  bottom: 49%;
}
.b50 {
  bottom: 50%;
}
.b51 {
  bottom: 51%;
}
.b52 {
  bottom: 52%;
}
.b53 {
  bottom: 53%;
}
.b54 {
  bottom: 54%;
}
.b55 {
  bottom: 55%;
}
.b56 {
  bottom: 56%;
}
.b57 {
  bottom: 57%;
}
.b58 {
  bottom: 58%;
}
.b59 {
  bottom: 59%;
}
.b60 {
  bottom: 60%;
}
.b61 {
  bottom: 61%;
}
.b62 {
  bottom: 62%;
}
.b63 {
  bottom: 63%;
}
.b64 {
  bottom: 64%;
}
.b65 {
  bottom: 65%;
}
.b66 {
  bottom: 66%;
}
.b67 {
  bottom: 67%;
}
.b68 {
  bottom: 68%;
}
.b69 {
  bottom: 69%;
}
.b70 {
  bottom: 70%;
}
.b71 {
  bottom: 71%;
}
.b72 {
  bottom: 72%;
}
.b73 {
  bottom: 73%;
}
.b74 {
  bottom: 74%;
}
.b75 {
  bottom: 75%;
}
.b76 {
  bottom: 76%;
}
.b77 {
  bottom: 77%;
}
.b78 {
  bottom: 78%;
}
.b79 {
  bottom: 79%;
}
.b80 {
  bottom: 80%;
}
.b81 {
  bottom: 81%;
}
.b82 {
  bottom: 82%;
}
.b83 {
  bottom: 83%;
}
.b84 {
  bottom: 84%;
}
.b85 {
  bottom: 85%;
}
.b86 {
  bottom: 86%;
}
.b87 {
  bottom: 87%;
}
.b88 {
  bottom: 88%;
}
.b89 {
  bottom: 89%;
}
.b90 {
  bottom: 90%;
}
.b91 {
  bottom: 91%;
}
.b92 {
  bottom: 92%;
}
.b93 {
  bottom: 93%;
}
.b94 {
  bottom: 94%;
}
.b95 {
  bottom: 95%;
}
.b96 {
  bottom: 96%;
}
.b97 {
  bottom: 97%;
}
.b98 {
  bottom: 98%;
}
.b99 {
  bottom: 99%;
}
.b100 {
  bottom: 100%;
}
.bg-white {
  background: #ffffff;
}
.hgl-block {
  background: #ccd9e5;
}
.hgl-light-block {
  background: #e6ecf2;
}
.border-bottom-blank {
  border-bottom: 1px solid #02407c;
}
.part-title-wrapper {
  font-weight: bold;
  line-height: 30px;
  font-size: 20px;
}
.part-title-wrapper .part-name {
  display: inline-block;
  float: left;
  background: #356696;
  color: #fff;
  padding: 0 5px;
  width: 10%;
}
.part-title-wrapper .part-title {
  background: #cac59b;
  color: #02407c;
  padding-left: 5px;
  margin-left: 10%;
}
.footer-signature-block {
  background: #ebe9d9;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.footer-signature-block .signature-label {
  background: #ebe9d9;
}
.footer-signature-block .signature-blank {
  border-bottom: 1px solid #b4c6d7;
  margin-top: 30px;
}
.checkbox {
  display: inline-block;
  height: 20px;
  width: 24px;
  border: 1px solid #b4c6d7;
  background: #fff;
  vertical-align: middle;
}
.checkboxes-list .checkbox-row {
  margin-bottom: 5px;
}
.checkboxes-list .checkbox-row .checkbox {
  margin-right: 5px;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
}
ul li:before {
  position: absolute;
  content: ' ';
  left: 5px;
  top: 5px;
  display: block;
  width: 5px;
  height: 5px;
  color: #7a6f13;
  background: #7a6f13;
}
.page {
  color: #02407c;
  margin-bottom: 100px;
}
.page h1,
.page h2 {
  color: #7a6f13;
}
.page.blue-bg {
  background: #ccd9e5;
}
.page1 .subtitle-block {
  padding: 20px 2px 2px 2px;
}
.page1 .court-use-only {
  padding: 0 0 10px 10px;
  width: 50%;
}
.page1 .court-use-only .title {
  background: #4e79a3;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  padding: 2px 3px 2px 0px;
}
.page1 .court-use-only .body {
  background: #fff;
  padding: 10px;
}
.steps-form .left-col {
  float: left;
  width: 50%;
}
.steps-form .right-col {
  float: left;
  width: 50%;
}
.steps-form .cols-names {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding-left: 20px;
  overflow: hidden;
  clear: both;
}
.steps-form .cols-names .left-col,
.steps-form .cols-names .right-col {
  padding: 0 2px;
}
.steps-form .step {
  position: relative;
  padding-left: 20px;
  overflow: hidden;
  clear: both;
}
.steps-form .step > .left-col,
.steps-form .step > .right-col {
  padding: 0 2px 15px 2px;
}
.steps-form .step .step-number {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 20px;
  width: 20px;
  background: #ccd9e5;
  font-style: normal;
  line-height: 20px;
  text-align: center;
  font-weight: bold;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.steps-form .step .input-group {
  margin-bottom: 5px;
}
.steps-form .step .input-group label {
  display: block;
}
.steps-form .step .input-group .fake-input {
  background: #ffffff;
  border: 1px solid #b4c6d7;
  width: 100%;
  height: 25px;
  line-height: 25px;
}
.steps-form .step .input-group .fake-input .format-delimiter {
  display: inline-block;
}
.steps-form .step .input-group .input-format-labels {
  text-transform: uppercase;
  color: #7a6f13;
  font-weight: bold;
  font-size: 14px;
}
.steps-form .step .inputs-list {
  border: 1px solid #02407c;
}
.steps-form .step .inputs-list .fake-input {
  border: none;
  border-bottom: 1px solid #b4c6d7;
  padding: 4px 0 0 2px;
}
.steps-form .step .inputs-list .fake-input .required:after {
  content: '*';
  padding-left: 5px;
  color: #7a6f13;
  font-weight: bold;
}
.steps-form .step .inputs-list .fake-input:last-child {
  border-bottom: none;
}
.steps-form .step.unrequired-sign .step-number:before {
  content: '*';
}
.steps-form .required-sign-explanation {
  position: relative;
  padding-left: 40px;
  font-weight: bold;
}
.steps-form .required-sign-explanation:before {
  position: absolute;
  left: 22px;
  top: 0;
  content: '*';
  font-weight: bold;
  color: #7a6f13;
}
.steps-form.not-applicable-column .left-col {
  width: 92%;
}
.steps-form.not-applicable-column .right-col {
  width: 8%;
  background: #ccd9e5;
  text-align: center;
  line-height: 60px;
}
.steps-form.not-applicable-column .right-col .col-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: initial;
}
.steps-form.not-applicable-column .fake-input {
  position: relative;
  padding-left: 5px;
}
.steps-form.not-applicable-column .fake-input .format-delimiter {
  position: absolute;
  font-size: 17px;
  color: #7a6f13;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}
.steps-form.not-applicable-column .fake-input .format-delimiter:first-child {
  font-size: 12px;
  margin-top: 2px;
}
.steps-form.not-applicable-column .fake-input input {
  position: absolute;
  height: 100%;
  border: none;
  font-size: 13px;
  padding: 0 5px;
  font-weight: bold;
  text-align: center;
}
@media print {
  .page {
    margin-bottom: 0;
    page-break-after: always;
  }
}
