  <div id="41">
    <span>41. Real estate</span>
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3>APPLICANT</h3>
          <button md-mini-fab mdTooltip="Add item" [mdTooltipPosition]="'left'" (click)="addItem('applicant')"><md-icon>add</md-icon></button>
        </div>
        <div *ngFor="let item of applicantRealEstates; let i=index; trackBy: index" class="group">
          <button md-mini-fab mdTooltip="Remove item" [mdTooltipPosition]="'left'" (click)="removeItem(i, 'applicant')"><md-icon>remove</md-icon></button>
          <div>
            <span>
              Address
            </span>
            <md-input-container >
              <input mdInput type="text"
                     [ngModel]="(item|async)?.applicantAddress"
                     (ngModelChange)="item.update({applicantAddress: $event})"
                     name="applicantAddress_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              State
            </span>
            <md-input-container >
              <input mdInput type="text"
                     [ngModel]="(item|async)?.applicantState"
                     (ngModelChange)="item.update({applicantState: $event})"
                     name="applicantState_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Your % share
            </span>
            <md-input-container >
              <input mdInput type="number"
                     [ngModel]="(item|async)?.applicantPercentShare"
                     (ngModelChange)="item.update({applicantPercentShare: $event})"
                     name="applicantPercentShare_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Value of your share $
            </span>
            <md-input-container>
              <input mdInput type="number"
                     [ngModel]="(item|async)?.applicantValueOfShare"
                     (ngModelChange)="item.update({applicantValueOfShare: $event})"
                     name="applicantValueOfShare_{{i}}">
            </md-input-container>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <h3>RESPONDENT</h3>
          <button md-mini-fab mdTooltip="Add item" [mdTooltipPosition]="'left'" (click)="addItem('respondent')"><md-icon>add</md-icon></button>
        </div>
        <div *ngFor="let item of respondentRealEstates; let i=index; trackBy: index" class="group">
          <button md-mini-fab mdTooltip="Remove item" [mdTooltipPosition]="'left'" (click)="removeItem(i, 'respondent')"><md-icon>remove</md-icon></button>
          <div>
            <span>
              Address
            </span>
            <md-input-container >
              <input mdInput type="number"
                     [ngModel]="(item|async)?.respondentAddress"
                     (ngModelChange)="item.update({respondentAddress: $event})"
                     name="respondentAddress_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              State
            </span>
            <md-input-container >
              <input mdInput type="number"
                     [ngModel]="(item|async)?.respondentState"
                     (ngModelChange)="item.update({respondentState: $event})"
                     name="respondentState_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Your % share
            </span>
            <md-input-container >
              <input mdInput type="number"
                     [ngModel]="(item|async)?.respondentPercentShare"
                     (ngModelChange)="item.update({respondentPercentShare: $event})"
                     name="respondentPercentShare_{{i}}">
            </md-input-container>
          </div>
          <div>
            <span>
              Value of your share $
            </span>
            <md-input-container>
              <input mdInput type="number"
                     [ngModel]="(item|async)?.respondentValueOfShare"
                     (ngModelChange)="item.update({respondentValueOfShare: $event})"
                     name="respondentValueOfShare_{{i}}">
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
  </div>
