* {
  margin: 0;
  padding: 0;
}
.col-xs-6 {
  float: left;
  width: 50%;
  min-height: 1px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: Myriad Pro;
  font-size: 15px;
  letter-spacing: -1px;
  color: #02407c;
}
b {
  color: #02407c;
  font-weight: bold;
}
.pos-abs {
  position: absolute;
}
.pos-relative {
  position: relative;
}
.clear {
  clear: both;
}
.fl-right {
  float: right;
}
.fl-left {
  float: left;
}
.hgl-details {
  color: #7a6f13;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
}
.brown-color {
  color: #7a6f13;
}
.overflow {
  overflow: hidden;
}
.bold {
  font-weight: bold;
}
.w0 {
  width: 0% !important;
}
.w1 {
  width: 1% !important;
}
.w2 {
  width: 2% !important;
}
.w3 {
  width: 3% !important;
}
.w4 {
  width: 4% !important;
}
.w5 {
  width: 5% !important;
}
.w6 {
  width: 6% !important;
}
.w7 {
  width: 7% !important;
}
.w8 {
  width: 8% !important;
}
.w9 {
  width: 9% !important;
}
.w10 {
  width: 10% !important;
}
.w11 {
  width: 11% !important;
}
.w12 {
  width: 12% !important;
}
.w13 {
  width: 13% !important;
}
.w14 {
  width: 14% !important;
}
.w15 {
  width: 15% !important;
}
.w16 {
  width: 16% !important;
}
.w17 {
  width: 17% !important;
}
.w18 {
  width: 18% !important;
}
.w19 {
  width: 19% !important;
}
.w20 {
  width: 20% !important;
}
.w21 {
  width: 21% !important;
}
.w22 {
  width: 22% !important;
}
.w23 {
  width: 23% !important;
}
.w24 {
  width: 24% !important;
}
.w25 {
  width: 25% !important;
}
.w26 {
  width: 26% !important;
}
.w27 {
  width: 27% !important;
}
.w28 {
  width: 28% !important;
}
.w29 {
  width: 29% !important;
}
.w30 {
  width: 30% !important;
}
.w31 {
  width: 31% !important;
}
.w32 {
  width: 32% !important;
}
.w33 {
  width: 33% !important;
}
.w34 {
  width: 34% !important;
}
.w35 {
  width: 35% !important;
}
.w36 {
  width: 36% !important;
}
.w37 {
  width: 37% !important;
}
.w38 {
  width: 38% !important;
}
.w39 {
  width: 39% !important;
}
.w40 {
  width: 40% !important;
}
.w41 {
  width: 41% !important;
}
.w42 {
  width: 42% !important;
}
.w43 {
  width: 43% !important;
}
.w44 {
  width: 44% !important;
}
.w45 {
  width: 45% !important;
}
.w46 {
  width: 46% !important;
}
.w47 {
  width: 47% !important;
}
.w48 {
  width: 48% !important;
}
.w49 {
  width: 49% !important;
}
.w50 {
  width: 50% !important;
}
.w51 {
  width: 51% !important;
}
.w52 {
  width: 52% !important;
}
.w53 {
  width: 53% !important;
}
.w54 {
  width: 54% !important;
}
.w55 {
  width: 55% !important;
}
.w56 {
  width: 56% !important;
}
.w57 {
  width: 57% !important;
}
.w58 {
  width: 58% !important;
}
.w59 {
  width: 59% !important;
}
.w60 {
  width: 60% !important;
}
.w61 {
  width: 61% !important;
}
.w62 {
  width: 62% !important;
}
.w63 {
  width: 63% !important;
}
.w64 {
  width: 64% !important;
}
.w65 {
  width: 65% !important;
}
.w66 {
  width: 66% !important;
}
.w67 {
  width: 67% !important;
}
.w68 {
  width: 68% !important;
}
.w69 {
  width: 69% !important;
}
.w70 {
  width: 70% !important;
}
.w71 {
  width: 71% !important;
}
.w72 {
  width: 72% !important;
}
.w73 {
  width: 73% !important;
}
.w74 {
  width: 74% !important;
}
.w75 {
  width: 75% !important;
}
.w76 {
  width: 76% !important;
}
.w77 {
  width: 77% !important;
}
.w78 {
  width: 78% !important;
}
.w79 {
  width: 79% !important;
}
.w80 {
  width: 80% !important;
}
.w81 {
  width: 81% !important;
}
.w82 {
  width: 82% !important;
}
.w83 {
  width: 83% !important;
}
.w84 {
  width: 84% !important;
}
.w85 {
  width: 85% !important;
}
.w86 {
  width: 86% !important;
}
.w87 {
  width: 87% !important;
}
.w88 {
  width: 88% !important;
}
.w89 {
  width: 89% !important;
}
.w90 {
  width: 90% !important;
}
.w91 {
  width: 91% !important;
}
.w92 {
  width: 92% !important;
}
.w93 {
  width: 93% !important;
}
.w94 {
  width: 94% !important;
}
.w95 {
  width: 95% !important;
}
.w96 {
  width: 96% !important;
}
.w97 {
  width: 97% !important;
}
.w98 {
  width: 98% !important;
}
.w99 {
  width: 99% !important;
}
.w100 {
  width: 100% !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.mb55 {
  margin-bottom: 55px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb65 {
  margin-bottom: 65px !important;
}
.mb70 {
  margin-bottom: 70px !important;
}
.mb75 {
  margin-bottom: 75px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb85 {
  margin-bottom: 85px !important;
}
.mb90 {
  margin-bottom: 90px !important;
}
.mb95 {
  margin-bottom: 95px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mt55 {
  margin-top: 55px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt65 {
  margin-top: 65px !important;
}
.mt70 {
  margin-top: 70px !important;
}
.mt75 {
  margin-top: 75px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt85 {
  margin-top: 85px !important;
}
.mt90 {
  margin-top: 90px !important;
}
.mt95 {
  margin-top: 95px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.mr45 {
  margin-right: 45px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.mr55 {
  margin-right: 55px !important;
}
.mr60 {
  margin-right: 60px !important;
}
.mr65 {
  margin-right: 65px !important;
}
.mr70 {
  margin-right: 70px !important;
}
.mr75 {
  margin-right: 75px !important;
}
.mr80 {
  margin-right: 80px !important;
}
.mr85 {
  margin-right: 85px !important;
}
.mr90 {
  margin-right: 90px !important;
}
.mr95 {
  margin-right: 95px !important;
}
.mr100 {
  margin-right: 100px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.ml45 {
  margin-left: 45px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.ml55 {
  margin-left: 55px !important;
}
.ml60 {
  margin-left: 60px !important;
}
.ml65 {
  margin-left: 65px !important;
}
.ml70 {
  margin-left: 70px !important;
}
.ml75 {
  margin-left: 75px !important;
}
.ml80 {
  margin-left: 80px !important;
}
.ml85 {
  margin-left: 85px !important;
}
.ml90 {
  margin-left: 90px !important;
}
.ml95 {
  margin-left: 95px !important;
}
.ml100 {
  margin-left: 100px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pb45 {
  padding-bottom: 45px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pb55 {
  padding-bottom: 55px !important;
}
.pb60 {
  padding-bottom: 60px !important;
}
.pb65 {
  padding-bottom: 65px !important;
}
.pb70 {
  padding-bottom: 70px !important;
}
.pb75 {
  padding-bottom: 75px !important;
}
.pb80 {
  padding-bottom: 80px !important;
}
.pb85 {
  padding-bottom: 85px !important;
}
.pb90 {
  padding-bottom: 90px !important;
}
.pb95 {
  padding-bottom: 95px !important;
}
.pb100 {
  padding-bottom: 100px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pt45 {
  padding-top: 45px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pt55 {
  padding-top: 55px !important;
}
.pt60 {
  padding-top: 60px !important;
}
.pt65 {
  padding-top: 65px !important;
}
.pt70 {
  padding-top: 70px !important;
}
.pt75 {
  padding-top: 75px !important;
}
.pt80 {
  padding-top: 80px !important;
}
.pt85 {
  padding-top: 85px !important;
}
.pt90 {
  padding-top: 90px !important;
}
.pt95 {
  padding-top: 95px !important;
}
.pt100 {
  padding-top: 100px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.pr45 {
  padding-right: 45px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.pr55 {
  padding-right: 55px !important;
}
.pr60 {
  padding-right: 60px !important;
}
.pr65 {
  padding-right: 65px !important;
}
.pr70 {
  padding-right: 70px !important;
}
.pr75 {
  padding-right: 75px !important;
}
.pr80 {
  padding-right: 80px !important;
}
.pr85 {
  padding-right: 85px !important;
}
.pr90 {
  padding-right: 90px !important;
}
.pr95 {
  padding-right: 95px !important;
}
.pr100 {
  padding-right: 100px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pl45 {
  padding-left: 45px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pl55 {
  padding-left: 55px !important;
}
.pl60 {
  padding-left: 60px !important;
}
.pl65 {
  padding-left: 65px !important;
}
.pl70 {
  padding-left: 70px !important;
}
.pl75 {
  padding-left: 75px !important;
}
.pl80 {
  padding-left: 80px !important;
}
.pl85 {
  padding-left: 85px !important;
}
.pl90 {
  padding-left: 90px !important;
}
.pl95 {
  padding-left: 95px !important;
}
.pl100 {
  padding-left: 100px !important;
}
.l0 {
  left: 0% !important;
}
.l1 {
  left: 1% !important;
}
.l2 {
  left: 2% !important;
}
.l3 {
  left: 3% !important;
}
.l4 {
  left: 4% !important;
}
.l5 {
  left: 5% !important;
}
.l6 {
  left: 6% !important;
}
.l7 {
  left: 7% !important;
}
.l8 {
  left: 8% !important;
}
.l9 {
  left: 9% !important;
}
.l10 {
  left: 10% !important;
}
.l11 {
  left: 11% !important;
}
.l12 {
  left: 12% !important;
}
.l13 {
  left: 13% !important;
}
.l14 {
  left: 14% !important;
}
.l15 {
  left: 15% !important;
}
.l16 {
  left: 16% !important;
}
.l17 {
  left: 17% !important;
}
.l18 {
  left: 18% !important;
}
.l19 {
  left: 19% !important;
}
.l20 {
  left: 20% !important;
}
.l21 {
  left: 21% !important;
}
.l22 {
  left: 22% !important;
}
.l23 {
  left: 23% !important;
}
.l24 {
  left: 24% !important;
}
.l25 {
  left: 25% !important;
}
.l26 {
  left: 26% !important;
}
.l27 {
  left: 27% !important;
}
.l28 {
  left: 28% !important;
}
.l29 {
  left: 29% !important;
}
.l30 {
  left: 30% !important;
}
.l31 {
  left: 31% !important;
}
.l32 {
  left: 32% !important;
}
.l33 {
  left: 33% !important;
}
.l34 {
  left: 34% !important;
}
.l35 {
  left: 35% !important;
}
.l36 {
  left: 36% !important;
}
.l37 {
  left: 37% !important;
}
.l38 {
  left: 38% !important;
}
.l39 {
  left: 39% !important;
}
.l40 {
  left: 40% !important;
}
.l41 {
  left: 41% !important;
}
.l42 {
  left: 42% !important;
}
.l43 {
  left: 43% !important;
}
.l44 {
  left: 44% !important;
}
.l45 {
  left: 45% !important;
}
.l46 {
  left: 46% !important;
}
.l47 {
  left: 47% !important;
}
.l48 {
  left: 48% !important;
}
.l49 {
  left: 49% !important;
}
.l50 {
  left: 50% !important;
}
.l51 {
  left: 51% !important;
}
.l52 {
  left: 52% !important;
}
.l53 {
  left: 53% !important;
}
.l54 {
  left: 54% !important;
}
.l55 {
  left: 55% !important;
}
.l56 {
  left: 56% !important;
}
.l57 {
  left: 57% !important;
}
.l58 {
  left: 58% !important;
}
.l59 {
  left: 59% !important;
}
.l60 {
  left: 60% !important;
}
.l61 {
  left: 61% !important;
}
.l62 {
  left: 62% !important;
}
.l63 {
  left: 63% !important;
}
.l64 {
  left: 64% !important;
}
.l65 {
  left: 65% !important;
}
.l66 {
  left: 66% !important;
}
.l67 {
  left: 67% !important;
}
.l68 {
  left: 68% !important;
}
.l69 {
  left: 69% !important;
}
.l70 {
  left: 70% !important;
}
.l71 {
  left: 71% !important;
}
.l72 {
  left: 72% !important;
}
.l73 {
  left: 73% !important;
}
.l74 {
  left: 74% !important;
}
.l75 {
  left: 75% !important;
}
.l76 {
  left: 76% !important;
}
.l77 {
  left: 77% !important;
}
.l78 {
  left: 78% !important;
}
.l79 {
  left: 79% !important;
}
.l80 {
  left: 80% !important;
}
.l81 {
  left: 81% !important;
}
.l82 {
  left: 82% !important;
}
.l83 {
  left: 83% !important;
}
.l84 {
  left: 84% !important;
}
.l85 {
  left: 85% !important;
}
.l86 {
  left: 86% !important;
}
.l87 {
  left: 87% !important;
}
.l88 {
  left: 88% !important;
}
.l89 {
  left: 89% !important;
}
.l90 {
  left: 90% !important;
}
.l91 {
  left: 91% !important;
}
.l92 {
  left: 92% !important;
}
.l93 {
  left: 93% !important;
}
.l94 {
  left: 94% !important;
}
.l95 {
  left: 95% !important;
}
.l96 {
  left: 96% !important;
}
.l97 {
  left: 97% !important;
}
.l98 {
  left: 98% !important;
}
.l99 {
  left: 99% !important;
}
.l100 {
  left: 100% !important;
}
.r0 {
  right: 0% !important;
}
.r1 {
  right: 1% !important;
}
.r2 {
  right: 2% !important;
}
.r3 {
  right: 3% !important;
}
.r4 {
  right: 4% !important;
}
.r5 {
  right: 5% !important;
}
.r6 {
  right: 6% !important;
}
.r7 {
  right: 7% !important;
}
.r8 {
  right: 8% !important;
}
.r9 {
  right: 9% !important;
}
.r10 {
  right: 10% !important;
}
.r11 {
  right: 11% !important;
}
.r12 {
  right: 12% !important;
}
.r13 {
  right: 13% !important;
}
.r14 {
  right: 14% !important;
}
.r15 {
  right: 15% !important;
}
.r16 {
  right: 16% !important;
}
.r17 {
  right: 17% !important;
}
.r18 {
  right: 18% !important;
}
.r19 {
  right: 19% !important;
}
.r20 {
  right: 20% !important;
}
.r21 {
  right: 21% !important;
}
.r22 {
  right: 22% !important;
}
.r23 {
  right: 23% !important;
}
.r24 {
  right: 24% !important;
}
.r25 {
  right: 25% !important;
}
.r26 {
  right: 26% !important;
}
.r27 {
  right: 27% !important;
}
.r28 {
  right: 28% !important;
}
.r29 {
  right: 29% !important;
}
.r30 {
  right: 30% !important;
}
.r31 {
  right: 31% !important;
}
.r32 {
  right: 32% !important;
}
.r33 {
  right: 33% !important;
}
.r34 {
  right: 34% !important;
}
.r35 {
  right: 35% !important;
}
.r36 {
  right: 36% !important;
}
.r37 {
  right: 37% !important;
}
.r38 {
  right: 38% !important;
}
.r39 {
  right: 39% !important;
}
.r40 {
  right: 40% !important;
}
.r41 {
  right: 41% !important;
}
.r42 {
  right: 42% !important;
}
.r43 {
  right: 43% !important;
}
.r44 {
  right: 44% !important;
}
.r45 {
  right: 45% !important;
}
.r46 {
  right: 46% !important;
}
.r47 {
  right: 47% !important;
}
.r48 {
  right: 48% !important;
}
.r49 {
  right: 49% !important;
}
.r50 {
  right: 50% !important;
}
.r51 {
  right: 51% !important;
}
.r52 {
  right: 52% !important;
}
.r53 {
  right: 53% !important;
}
.r54 {
  right: 54% !important;
}
.r55 {
  right: 55% !important;
}
.r56 {
  right: 56% !important;
}
.r57 {
  right: 57% !important;
}
.r58 {
  right: 58% !important;
}
.r59 {
  right: 59% !important;
}
.r60 {
  right: 60% !important;
}
.r61 {
  right: 61% !important;
}
.r62 {
  right: 62% !important;
}
.r63 {
  right: 63% !important;
}
.r64 {
  right: 64% !important;
}
.r65 {
  right: 65% !important;
}
.r66 {
  right: 66% !important;
}
.r67 {
  right: 67% !important;
}
.r68 {
  right: 68% !important;
}
.r69 {
  right: 69% !important;
}
.r70 {
  right: 70% !important;
}
.r71 {
  right: 71% !important;
}
.r72 {
  right: 72% !important;
}
.r73 {
  right: 73% !important;
}
.r74 {
  right: 74% !important;
}
.r75 {
  right: 75% !important;
}
.r76 {
  right: 76% !important;
}
.r77 {
  right: 77% !important;
}
.r78 {
  right: 78% !important;
}
.r79 {
  right: 79% !important;
}
.r80 {
  right: 80% !important;
}
.r81 {
  right: 81% !important;
}
.r82 {
  right: 82% !important;
}
.r83 {
  right: 83% !important;
}
.r84 {
  right: 84% !important;
}
.r85 {
  right: 85% !important;
}
.r86 {
  right: 86% !important;
}
.r87 {
  right: 87% !important;
}
.r88 {
  right: 88% !important;
}
.r89 {
  right: 89% !important;
}
.r90 {
  right: 90% !important;
}
.r91 {
  right: 91% !important;
}
.r92 {
  right: 92% !important;
}
.r93 {
  right: 93% !important;
}
.r94 {
  right: 94% !important;
}
.r95 {
  right: 95% !important;
}
.r96 {
  right: 96% !important;
}
.r97 {
  right: 97% !important;
}
.r98 {
  right: 98% !important;
}
.r99 {
  right: 99% !important;
}
.r100 {
  right: 100% !important;
}
.t0 {
  top: 0% !important;
}
.t1 {
  top: 1% !important;
}
.t2 {
  top: 2% !important;
}
.t3 {
  top: 3% !important;
}
.t4 {
  top: 4% !important;
}
.t5 {
  top: 5% !important;
}
.t6 {
  top: 6% !important;
}
.t7 {
  top: 7% !important;
}
.t8 {
  top: 8% !important;
}
.t9 {
  top: 9% !important;
}
.t10 {
  top: 10% !important;
}
.t11 {
  top: 11% !important;
}
.t12 {
  top: 12% !important;
}
.t13 {
  top: 13% !important;
}
.t14 {
  top: 14% !important;
}
.t15 {
  top: 15% !important;
}
.t16 {
  top: 16% !important;
}
.t17 {
  top: 17% !important;
}
.t18 {
  top: 18% !important;
}
.t19 {
  top: 19% !important;
}
.t20 {
  top: 20% !important;
}
.t21 {
  top: 21% !important;
}
.t22 {
  top: 22% !important;
}
.t23 {
  top: 23% !important;
}
.t24 {
  top: 24% !important;
}
.t25 {
  top: 25% !important;
}
.t26 {
  top: 26% !important;
}
.t27 {
  top: 27% !important;
}
.t28 {
  top: 28% !important;
}
.t29 {
  top: 29% !important;
}
.t30 {
  top: 30% !important;
}
.t31 {
  top: 31% !important;
}
.t32 {
  top: 32% !important;
}
.t33 {
  top: 33% !important;
}
.t34 {
  top: 34% !important;
}
.t35 {
  top: 35% !important;
}
.t36 {
  top: 36% !important;
}
.t37 {
  top: 37% !important;
}
.t38 {
  top: 38% !important;
}
.t39 {
  top: 39% !important;
}
.t40 {
  top: 40% !important;
}
.t41 {
  top: 41% !important;
}
.t42 {
  top: 42% !important;
}
.t43 {
  top: 43% !important;
}
.t44 {
  top: 44% !important;
}
.t45 {
  top: 45% !important;
}
.t46 {
  top: 46% !important;
}
.t47 {
  top: 47% !important;
}
.t48 {
  top: 48% !important;
}
.t49 {
  top: 49% !important;
}
.t50 {
  top: 50% !important;
}
.t51 {
  top: 51% !important;
}
.t52 {
  top: 52% !important;
}
.t53 {
  top: 53% !important;
}
.t54 {
  top: 54% !important;
}
.t55 {
  top: 55% !important;
}
.t56 {
  top: 56% !important;
}
.t57 {
  top: 57% !important;
}
.t58 {
  top: 58% !important;
}
.t59 {
  top: 59% !important;
}
.t60 {
  top: 60% !important;
}
.t61 {
  top: 61% !important;
}
.t62 {
  top: 62% !important;
}
.t63 {
  top: 63% !important;
}
.t64 {
  top: 64% !important;
}
.t65 {
  top: 65% !important;
}
.t66 {
  top: 66% !important;
}
.t67 {
  top: 67% !important;
}
.t68 {
  top: 68% !important;
}
.t69 {
  top: 69% !important;
}
.t70 {
  top: 70% !important;
}
.t71 {
  top: 71% !important;
}
.t72 {
  top: 72% !important;
}
.t73 {
  top: 73% !important;
}
.t74 {
  top: 74% !important;
}
.t75 {
  top: 75% !important;
}
.t76 {
  top: 76% !important;
}
.t77 {
  top: 77% !important;
}
.t78 {
  top: 78% !important;
}
.t79 {
  top: 79% !important;
}
.t80 {
  top: 80% !important;
}
.t81 {
  top: 81% !important;
}
.t82 {
  top: 82% !important;
}
.t83 {
  top: 83% !important;
}
.t84 {
  top: 84% !important;
}
.t85 {
  top: 85% !important;
}
.t86 {
  top: 86% !important;
}
.t87 {
  top: 87% !important;
}
.t88 {
  top: 88% !important;
}
.t89 {
  top: 89% !important;
}
.t90 {
  top: 90% !important;
}
.t91 {
  top: 91% !important;
}
.t92 {
  top: 92% !important;
}
.t93 {
  top: 93% !important;
}
.t94 {
  top: 94% !important;
}
.t95 {
  top: 95% !important;
}
.t96 {
  top: 96% !important;
}
.t97 {
  top: 97% !important;
}
.t98 {
  top: 98% !important;
}
.t99 {
  top: 99% !important;
}
.t100 {
  top: 100% !important;
}
.b0 {
  bottom: 0% !important;
}
.b1 {
  bottom: 1% !important;
}
.b2 {
  bottom: 2% !important;
}
.b3 {
  bottom: 3% !important;
}
.b4 {
  bottom: 4% !important;
}
.b5 {
  bottom: 5% !important;
}
.b6 {
  bottom: 6% !important;
}
.b7 {
  bottom: 7% !important;
}
.b8 {
  bottom: 8% !important;
}
.b9 {
  bottom: 9% !important;
}
.b10 {
  bottom: 10% !important;
}
.b11 {
  bottom: 11% !important;
}
.b12 {
  bottom: 12% !important;
}
.b13 {
  bottom: 13% !important;
}
.b14 {
  bottom: 14% !important;
}
.b15 {
  bottom: 15% !important;
}
.b16 {
  bottom: 16% !important;
}
.b17 {
  bottom: 17% !important;
}
.b18 {
  bottom: 18% !important;
}
.b19 {
  bottom: 19% !important;
}
.b20 {
  bottom: 20% !important;
}
.b21 {
  bottom: 21% !important;
}
.b22 {
  bottom: 22% !important;
}
.b23 {
  bottom: 23% !important;
}
.b24 {
  bottom: 24% !important;
}
.b25 {
  bottom: 25% !important;
}
.b26 {
  bottom: 26% !important;
}
.b27 {
  bottom: 27% !important;
}
.b28 {
  bottom: 28% !important;
}
.b29 {
  bottom: 29% !important;
}
.b30 {
  bottom: 30% !important;
}
.b31 {
  bottom: 31% !important;
}
.b32 {
  bottom: 32% !important;
}
.b33 {
  bottom: 33% !important;
}
.b34 {
  bottom: 34% !important;
}
.b35 {
  bottom: 35% !important;
}
.b36 {
  bottom: 36% !important;
}
.b37 {
  bottom: 37% !important;
}
.b38 {
  bottom: 38% !important;
}
.b39 {
  bottom: 39% !important;
}
.b40 {
  bottom: 40% !important;
}
.b41 {
  bottom: 41% !important;
}
.b42 {
  bottom: 42% !important;
}
.b43 {
  bottom: 43% !important;
}
.b44 {
  bottom: 44% !important;
}
.b45 {
  bottom: 45% !important;
}
.b46 {
  bottom: 46% !important;
}
.b47 {
  bottom: 47% !important;
}
.b48 {
  bottom: 48% !important;
}
.b49 {
  bottom: 49% !important;
}
.b50 {
  bottom: 50% !important;
}
.b51 {
  bottom: 51% !important;
}
.b52 {
  bottom: 52% !important;
}
.b53 {
  bottom: 53% !important;
}
.b54 {
  bottom: 54% !important;
}
.b55 {
  bottom: 55% !important;
}
.b56 {
  bottom: 56% !important;
}
.b57 {
  bottom: 57% !important;
}
.b58 {
  bottom: 58% !important;
}
.b59 {
  bottom: 59% !important;
}
.b60 {
  bottom: 60% !important;
}
.b61 {
  bottom: 61% !important;
}
.b62 {
  bottom: 62% !important;
}
.b63 {
  bottom: 63% !important;
}
.b64 {
  bottom: 64% !important;
}
.b65 {
  bottom: 65% !important;
}
.b66 {
  bottom: 66% !important;
}
.b67 {
  bottom: 67% !important;
}
.b68 {
  bottom: 68% !important;
}
.b69 {
  bottom: 69% !important;
}
.b70 {
  bottom: 70% !important;
}
.b71 {
  bottom: 71% !important;
}
.b72 {
  bottom: 72% !important;
}
.b73 {
  bottom: 73% !important;
}
.b74 {
  bottom: 74% !important;
}
.b75 {
  bottom: 75% !important;
}
.b76 {
  bottom: 76% !important;
}
.b77 {
  bottom: 77% !important;
}
.b78 {
  bottom: 78% !important;
}
.b79 {
  bottom: 79% !important;
}
.b80 {
  bottom: 80% !important;
}
.b81 {
  bottom: 81% !important;
}
.b82 {
  bottom: 82% !important;
}
.b83 {
  bottom: 83% !important;
}
.b84 {
  bottom: 84% !important;
}
.b85 {
  bottom: 85% !important;
}
.b86 {
  bottom: 86% !important;
}
.b87 {
  bottom: 87% !important;
}
.b88 {
  bottom: 88% !important;
}
.b89 {
  bottom: 89% !important;
}
.b90 {
  bottom: 90% !important;
}
.b91 {
  bottom: 91% !important;
}
.b92 {
  bottom: 92% !important;
}
.b93 {
  bottom: 93% !important;
}
.b94 {
  bottom: 94% !important;
}
.b95 {
  bottom: 95% !important;
}
.b96 {
  bottom: 96% !important;
}
.b97 {
  bottom: 97% !important;
}
.b98 {
  bottom: 98% !important;
}
.b99 {
  bottom: 99% !important;
}
.b100 {
  bottom: 100% !important;
}
.fs1 {
  font-size: 1px !important;
}
.fs2 {
  font-size: 2px !important;
}
.fs3 {
  font-size: 3px !important;
}
.fs4 {
  font-size: 4px !important;
}
.fs5 {
  font-size: 5px !important;
}
.fs6 {
  font-size: 6px !important;
}
.fs7 {
  font-size: 7px !important;
}
.fs8 {
  font-size: 8px !important;
}
.fs9 {
  font-size: 9px !important;
}
.fs10 {
  font-size: 10px !important;
}
.fs11 {
  font-size: 11px !important;
}
.fs12 {
  font-size: 12px !important;
}
.fs13 {
  font-size: 13px !important;
}
.fs14 {
  font-size: 14px !important;
}
.fs15 {
  font-size: 15px !important;
}
.fs16 {
  font-size: 16px !important;
}
.fs17 {
  font-size: 17px !important;
}
.fs18 {
  font-size: 18px !important;
}
.fs19 {
  font-size: 19px !important;
}
.fs20 {
  font-size: 20px !important;
}
.fs21 {
  font-size: 21px !important;
}
.fs22 {
  font-size: 22px !important;
}
.fs23 {
  font-size: 23px !important;
}
.fs24 {
  font-size: 24px !important;
}
.fs25 {
  font-size: 25px !important;
}
.fs26 {
  font-size: 26px !important;
}
.fs27 {
  font-size: 27px !important;
}
.fs28 {
  font-size: 28px !important;
}
.fs29 {
  font-size: 29px !important;
}
.fs30 {
  font-size: 30px !important;
}
.bg-white {
  background: #ffffff;
}
.bg-brown {
  background: #cac59b;
}
.bg-brown-light {
  background: #e4e2cd;
}
.hgl-block {
  background: #ccd9e5;
}
.hgl-light-block {
  background: #e6ecf2;
}
.border-bottom-blank {
  border: none!important;
  border-bottom: 1px solid #02407c !important;
}
.border-bottom-blank.light-border {
  border-color: #b4c6d7 !important;
}
.transparent {
  background: transparent;
}
.uppercase {
  text-transform: uppercase!important;
}
.lowercase {
  text-transform: lowercase!important;
}
.normalcase {
  text-transform: none!important;
}
.noborder {
  border: none!important;
}
.normalweight {
  font-weight: normal !important;
}
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}
.part-title-wrapper {
  font-weight: bold;
  line-height: 30px;
  font-size: 20px;
  letter-spacing: 0px;
}
.part-title-wrapper .part-name {
  display: inline-block;
  float: left;
  background: #356696;
  color: #fff;
  padding: 0 5px;
  width: 10%;
}
.part-title-wrapper .part-title {
  background: #cac59b;
  color: #02407c;
  padding-left: 5px;
  margin-left: 10%;
}
.page-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-footer .footer-signature-block {
  background: #ebe9d9;
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
}
.page-footer .footer-signature-block .signature-label {
  background: #ebe9d9;
}
.page-footer .footer-signature-block .signature-blank {
  border-bottom: 1px solid #b4c6d7;
  margin-top: 30px;
}
.page-footer .footer-page-number {
  position: absolute;
  right: -45px;
  top: 0;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  background: #ffffff;
  border: 3px solid #7a6f13;
  line-height: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
}
.checkbox {
  display: inline-block;
  height: 20px;
  width: 24px;
  border: 1px solid #b4c6d7;
  background: #fff;
  vertical-align: middle;
}
.checkboxes-list .checkbox-row {
  margin-bottom: 5px;
}
.checkboxes-list .checkbox-row .checkbox {
  margin-right: 5px;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
}
ul li:before {
  position: absolute;
  content: ' ';
  left: 8px;
  top: 4px;
  display: block;
  width: 8px;
  height: 8px;
  color: #7a6f13;
  background: #7a6f13;
}
ol {
  padding-left: 20px;
}
ol li {
  padding-left: 15px;
}
.numbered-checkboxes-list .checkbox {
  float: left;
  margin-right: -25px;
}
.numbered-checkboxes-list .checkbox-description {
  margin-left: 35px;
}
.numbered-checkboxes-list li {
  padding-left: 20px;
  clear: both;
  margin-bottom: 5px;
}
.numbered-checkboxes-list.big-margin li {
  margin-bottom: 10px;
}
.wrapper {
  width: 210mm;
  margin: auto;
  padding-right: 10mm;
  box-sizing: content-box;
}
.page {
  color: #02407c;
  position: relative;
  padding-bottom: 60px;
  margin-bottom: 100px;
}
.page h1,
.page h2 {
  color: #7a6f13;
}
.page.blue-bg {
  background: #ccd9e5;
}
.page.no-footer {
  padding-bottom: 0;
}
.page1 .subtitle-block {
  padding: 20px 2px 2px 2px;
}
.page1 .court-use-only {
  padding: 0 0 10px 10px;
  width: 50%;
}
.page1 .court-use-only .title {
  background: #4e79a3;
  color: #fff;
  text-align: right;
  text-transform: uppercase;
  padding: 2px 3px 2px 0px;
}
.page1 .court-use-only .body {
  background: #fff;
  padding: 10px;
}
.page6 .children-details-table {
  width: 100%;
}
.page6 .children-details-table th {
  font-weight: bold;
  text-align: left;
}
.page6 .children-details-table tbody tr td {
  height: 25px;
  border: none;
  border-bottom: 1px solid #b4c6d7;
}
.page6 .children-details-table tbody tr td:first-child {
  border: none;
}
.page6 .children-details-table tbody tr td.date-cell {
  position: relative;
}
.page6 .children-details-table tbody tr td.date-cell .format-delimiter {
  position: absolute;
  bottom: 0;
  z-index: 10;
}
.page6 .children-details-table tbody tr td.date-cell input {
  position: absolute;
  top: 0;
  font-size: 13px;
  font-weight: bold;
  border: none;
  height: 100%;
  text-align: center;
}
.page8 .inputs-list .fake-input,
.page9 .inputs-list .fake-input {
  height: 25px;
}
.page10 .bg-brown-light {
  padding: 5px 10px 10px 5px;
}
.page15 .inputs-list .fake-input {
  height: 25px;
  padding-top: 4px;
}
.page21 .input-group {
  margin-bottom: 2px;
}
.page26 {
  display: block;
}
.steps-form .left-col {
  float: left;
  width: 50%;
}
.steps-form .right-col {
  float: left;
  width: 50%;
}
.steps-form .cols-names {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  padding-left: 27px;
  overflow: hidden;
  clear: both;
}
.steps-form .cols-names .left-col,
.steps-form .cols-names .right-col {
  padding: 0 2px;
}
.steps-form .step {
  position: relative;
  padding-left: 27px;
  overflow: hidden;
  clear: both;
}
.steps-form .step > .left-col,
.steps-form .step > .right-col {
  padding: 0 2px 10px 2px;
}
.steps-form .step .step-number {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 25px;
  width: 25px;
  background: #ccd9e5;
  font-style: normal;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}
.steps-form .step .unrequired-sign-explanation {
  position: relative;
}
.steps-form .step .unrequired-sign-explanation:after {
  content: '#';
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: -5px;
  left: -20px;
}
.steps-form .required-sign-explanation {
  position: relative;
  padding-left: 40px;
  font-weight: bold;
}
.steps-form .required-sign-explanation:before {
  position: absolute;
  left: 22px;
  top: 0;
  content: '*';
  font-weight: bold;
  color: #7a6f13;
}
.steps-form.not-applicable-column .left-col {
  width: 92%;
}
.steps-form.not-applicable-column .right-col {
  width: 8%;
  background: #ccd9e5;
  text-align: center;
  line-height: 60px;
}
.steps-form.not-applicable-column .right-col .col-name {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  line-height: initial;
}
.steps-form.not-applicable-column .cols-names .right-col {
  background: #fff;
}
.steps-form.not-applicable-column .fake-input .format-delimiter {
  color: #7a6f13;
}
.steps-form.not-applicable-column .fake-input .format-delimiter:first-child {
  font-size: 12px;
  margin-top: 2px;
}
.steps-form.not-applicable-column .inputs-group .input-group {
  float: left;
}
.steps-form.not-applicable-column .inputs-group .input-group label {
  text-transform: uppercase;
  color: #7a6f13;
  text-align: right;
  font-weight: bold;
  padding-right: 5px;
  font-size: 15px;
}
.steps-form.not-applicable-column .inputs-group .fake-input {
  border-right-width: 0;
}
.steps-form.not-applicable-column .inputs-group .input-group:last-child .fake-input {
  border-right-width: 1px;
}
.input-group {
  margin-bottom: 5px;
}
.input-group label {
  display: block;
}
.input-group .fake-input {
  position: relative;
  padding-left: 5px;
  background: #ffffff;
  border: 1px solid #b4c6d7;
  height: 25px;
  line-height: 25px;
}
.input-group .fake-input.bold-border {
  border-width: 4px;
  height: 32px;
  line-height: 32px;
  box-sizing: content-box;
}
.input-group .fake-input.bold-border input {
  text-align: left;
}
.input-group .fake-input.bright-border {
  border-color: #02407c;
  border-width: 2px;
}
.input-group .fake-input.multiline {
  line-height: 15px;
}
.input-group .fake-input.huge {
  height: 50px;
  padding: 10px;
}
.input-group .fake-input.huge2x {
  height: 100px;
  padding: 10px;
}
.input-group .fake-input.big {
  height: 40px;
  padding: 10px;
}
.input-group .fake-input.small {
  height: 18px;
}
.input-group .fake-input .format-delimiter {
  position: absolute;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 10;
}
.input-group .fake-input input {
  position: absolute;
  top: 1px;
  bottom: 1px;
  border: none;
  font-size: 13px;
  padding: 0 5px;
  font-weight: bold;
  text-align: center;
}
.input-group .input-format-labels {
  text-transform: uppercase;
  color: #7a6f13;
  font-weight: bold;
  font-size: 14px;
}
.inputs-list {
  border: 2px solid #b4c6d7;
  background: #ffffff;
}
.inputs-list .fake-input {
  position: relative;
  border: none;
  border-bottom: 1px solid #b4c6d7;
  padding: 8px 0 0 5px;
  height: 30px;
}
.inputs-list .fake-input .required:after {
  content: '*';
  padding-left: 5px;
  color: #7a6f13;
  font-weight: bold;
}
.inputs-list .fake-input:last-child {
  border-bottom: none;
}
.inputs-list .input-group {
  padding: 5px;
  margin: 0;
}
.child-details {
  margin-bottom: 40px;
  overflow: hidden;
}
.child-details .bg-brown-light {
  padding: 4px 2px 5px 2px;
}
.child-details .border-bottom-blank {
  background: transparent;
}
.page-comment {
  padding: 5px;
  border: 5px solid #b4c6d7;
  text-align: center;
}
.subtitle {
  padding: 2px 5px 0 5px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  background: #ccd9e5;
}
.states-contacts-list .state {
  position: relative;
  border-top: 5px solid #ccd9e5;
  overflow: hidden;
}
.states-contacts-list .state .state-name-col {
  float: left;
  width: 80px;
  margin-right: 10px;
}
.states-contacts-list .state .state-name {
  background: #4e79a3;
  color: #fff;
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  height: 22px;
}
.states-contacts-list .state .registry-name-col {
  float: left;
  width: 20%;
}
.states-contacts-list .state .registry-name {
  margin-right: 20px;
  padding: 7px 0;
  font-weight: bold;
}
.states-contacts-list .state .registry-address-col {
  float: left;
  width: 50%;
}
.states-contacts-list .state .registry-address {
  padding: 7px 0;
}
.states-contacts-list .state .phone {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-weight: bold;
  font-size: 19px;
  padding-left: 25px;
  background: url('phone-icon.png') 0 2px no-repeat transparent;
}
.states-contacts-list .state.western-aust {
  border-top-width: 15px;
}
.states-contacts-list .state.western-aust .registry-name-col {
  width: 40%;
}
.states-contacts-list .state.western-aust .registry-name {
  margin-bottom: 0;
  padding-bottom: 0;
}
.states-contacts-list .state.western-aust .registry-address {
  padding: 0;
}
.states-contacts-list .state.western-aust .phone {
  bottom: 15px;
}
.page-break {
  display: none;
}
@media print {
  @page {
    margin-bottom: 0;
  }
  .wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }
  .page-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .page {
    min-height: 294mm;
    margin-bottom: 0;
    page-break-after: always;
  }
  .page-break {
    height: 1px;
  }
}
