<md-sidenav-container fullscreen>
    <md-sidenav #sidenav
                mode="side">
        <md-toolbar>
            <button md-menu-item
                    routerLink="/">PartWays</button>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Application"
                        (click)="sidenav.toggle()">Application for Consent Orders</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Parties"
                        (click)="sidenav.toggle()"><md-icon>A</md-icon>About the parties</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Relationship"
                        (click)="sidenav.toggle()"><md-icon>B</md-icon>About the relationship of the parties</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/CourtCases"
                        (click)="sidenav.toggle()"><md-icon>C</md-icon>About other Court cases and orders</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Children"
                        (click)="sidenav.toggle()"><md-icon>D</md-icon>About the children</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Parenting"
                        (click)="sidenav.toggle()"><md-icon>F</md-icon>Details for parenting orders</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Defacto"
                        (click)="sidenav.toggle()"><md-icon>G</md-icon>De facto relationship jurisdiction – financial causes</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Maintenance"
                        (click)="sidenav.toggle()"><md-icon>H</md-icon>Details for property or maintenance orders</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/Property"
                        (click)="sidenav.toggle()"><md-icon>I</md-icon>Effect of property orders sought</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/StatementOfTruth"
                        (click)="sidenav.toggle()">Statement of Truth</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/LegalAdvice"
                        (click)="sidenav.toggle()">Statement of independent legal advice</button>
            </md-toolbar-row>
            <md-toolbar-row>
                <button md-menu-item
                        routerLink="/ConsentOrders"
                        (click)="sidenav.toggle()">Generate Consent Orders</button>
            </md-toolbar-row>
            <md-toolbar-row *ngIf="currentUserId">
                <button md-menu-item
                        (click)="logout()">Logout</button>
            </md-toolbar-row>
        </md-toolbar>
    </md-sidenav>

    <md-toolbar color="primary">
        <button md-button
                (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
        <button md-button
                id="title-button"
                routerLink="/">
      <md-icon>home</md-icon>
    </button> {{title}}
        <span class="fill-remaining-space"></span>
        <div>
            <button *ngIf="!currentUserId"
                    md-icon-button
                    [mdMenuTriggerFor]="menu">Login {{ currentUserId}}</button>
            <button md-button
                    mdTooltip="Help"
                    routerLink="/Help">
        <md-icon>help</md-icon>
      </button>
            <button md-button
                    mdTooltip="Feedback"
                    (click)="openFeedbackDialog()">
        <md-icon>feedback</md-icon>
      </button>
        </div>
    </md-toolbar>

    <div class="loading-overlay"
         *ngIf="isLoading">
        <md-spinner></md-spinner>
    </div>

    <router-outlet></router-outlet>
</md-sidenav-container>

<md-menu #menu="mdMenu"
         id="login-menu">
    <button md-menu-item
            (click)="loginGoogle()">
      <i class="fa fa-google" aria-hidden="true"></i>
      <span>Google</span>
   </button>
    <button md-menu-item
            (click)="loginFacebook()">
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <span>Facebook</span>
   </button>
</md-menu>