<md-sidenav-container fullscreen>
  <md-sidenav #sidenav mode="side">
    <md-toolbar>
      <button md-menu-item routerLink="/">Part - Ways</button>
      <md-toolbar-row>
        <button md-menu-item routerLink="/Parties">Parties</button>
      </md-toolbar-row>
      <md-toolbar-row>
        <button md-menu-item routerLink="/Children">Children</button>
      </md-toolbar-row>
      <md-toolbar-row>
        <button md-menu-item routerLink="/Property">Property</button>
      </md-toolbar-row>
      <md-toolbar-row>
        <button md-menu-item routerLink="/Liabilities">Liabilities</button>
      </md-toolbar-row>
      <md-toolbar-row>
        <button md-menu-item routerLink="/ConsentOrders">Consent Orders</button>
      </md-toolbar-row>
      <md-toolbar-row>
        <button md-menu-item (click)="logout()">Logout</button>
      </md-toolbar-row>
    </md-toolbar>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <button md-button routerLink="/">
      <md-icon>home</md-icon> 
      {{title}}
    </button>
    <span class="fill-remaining-space"></span>
    <button md-icon-button [mdMenuTriggerFor]="menu">Login</button>
  </md-toolbar>

  <ul>
    <li class="text" *ngFor="let item of items | async">
      {{item.$value}}
    </li>
  </ul>
  <div> {{ (af.auth | async)?.uid }} </div>

  <div fxLayout="row" fxLayoutAlign="end end">
    <button md-fab><md-icon>add</md-icon></button>
  </div>
</md-sidenav-container>

<md-menu #menu="mdMenu">
  <button md-menu-item (click)="login()">
      <i class="fa fa-google" aria-hidden="true"></i> 
      <span>Google</span>
   </button>
  <button md-menu-item disabled>
      <i class="fa fa-facebook" aria-hidden="true"></i> 
      <span>Facebook</span>
   </button>
  <button md-menu-item disabled>
      <i class="fa fa-windows" aria-hidden="true"></i> 
      <span>Microsoft</span>
   </button>
</md-menu>