<div class="doc_container">
  <h1>Part A. About the parties</h1>

  <form fxLayout="column"
        #f="ngForm"
        class="court_cases">

    <div id="1">
      <span>1.</span>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
          <h3 fxLayoutAlign="center center">APPLICANT</h3>
          <div>
            <span>What is your family name as used now?</span>
            <md-input-container>
              <input mdInput type="text" [ngModel]="(items|async)?.applicantFamilyName" (ngModelChange)="items.update({applicantFamilyName: $event})"
                     name="applicantFamilyName">
            </md-input-container>
          </div>
          <div>
            <span>
              Given names?
            </span>
            <md-input-container>
              <input mdInput type="text" [ngModel]="(items|async)?.applicantGivenNames" (ngModelChange)="items.update({applicantGivenNames: $event})"
                     name="applicantGivenNames">
            </md-input-container>
          </div>
          <div>
            <md-radio-group [ngModel]="(items|async)?.applicantSex"
                            name="applicantSex"
                            (ngModelChange)="items.update({applicantSex: $event})"
                            fxLayout="row" fxLayoutAlign="space-between"
            >
              <md-radio-button [value]="'Male'" >
                Male
              </md-radio-button>
              <md-radio-button [value]="'Female'">
                Female
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
        <div fxLayout="column" fxFlex="48">
          <h3 fxLayoutAlign="center center">RESPONDENT</h3>
          <div>
            <span>
              What is your family name as used now?
            </span>
            <md-input-container>
              <input mdInput type="text" [ngModel]="(items|async)?.respondentFamilyName" (ngModelChange)="items.update({respondentFamilyName: $event})"
                     name="respondentFamilyName">
            </md-input-container>
          </div>
          <div>
            <span>
              Given names?
            </span>
            <md-input-container>
              <input mdInput type="text" [ngModel]="(items|async)?.respondentGivenNames" (ngModelChange)="items.update({respondentGivenNames: $event})"
                     name="respondentGivenNames">
            </md-input-container>
          </div>
          <div>
            <md-radio-group [ngModel]="(items|async)?.respondentSex"
                            name="respondentSex"
                            (ngModelChange)="items.update({respondentSex: $event})"
                            fxLayout="row" fxLayoutAlign="space-between"
            >
              <md-radio-button [value]="'Male'" >
                Male
              </md-radio-button>
              <md-radio-button [value]="'Female'">
                Female
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>
    </div>

    <div id="2">
      <span>2.</span>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
          <h3 fxLayoutAlign="center center">APPLICANT</h3>
          <div>
            <span>
              What is your usual occupation?
            </span>
            <md-input-container>
              <input mdInput type="text" [ngModel]="(items|async)?.applicantUsualAccupation" (ngModelChange)="items.update({applicantUsualAccupation: $event})"
                     name="applicantUsualAccupation">
            </md-input-container>
          </div>
        </div>
        <div fxLayout="column" fxFlex="48">
          <h3 fxLayoutAlign="center center">RESPONDENT</h3>
          <div>
            <span>
              What is your usual occupation?
            </span>
            <md-input-container>
              <input mdInput type="text" [ngModel]="(items|async)?.respondentUsualAccupation" (ngModelChange)="items.update({respondentUsualAccupation: $event})"
                     name="respondentUsualAccupation">
            </md-input-container>
          </div>
        </div>
      </div>
    </div>

    <div id="3">
      <span>3. What is your contact address (address for service) in Australia? If you give a lawyer’s address, include the
name of the law firm.</span>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
          <div class="group">
            <div>
              <div fxLayout="row">
                <md-input-container fxFlex="100">
                  <textarea mdInput
                            [ngModel]="(items|async)?.applicantContactAddress "
                            (ngModelChange)="items.update({applicantContactAddress: $event})"
                            name="applicantContactAddress"></textarea>
                </md-input-container>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex="48">
                <span>
                  State
                </span>
                  <md-input-container>
                    <input mdInput type="text" [ngModel]="(items|async)?.applicantState" (ngModelChange)="items.update({applicantState: $event})"
                           name="applicantState">
                  </md-input-container>
              </div>
              <div fxFlex="48">
                <span>
                  Postcode
                </span>
                  <md-input-container>
                    <input mdInput type="text" [ngModel]="(items|async)?.applicantPostcode" (ngModelChange)="items.update({applicantPostcode: $event})"
                           name="applicantPostcode">
                  </md-input-container>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex="48">
                <span>
                  Phone
                </span>
                  <md-input-container>
                    <input mdInput type="text" [ngModel]="(items|async)?.applicantPhone" (ngModelChange)="items.update({applicantPhone: $event})"
                           name="applicantPhone">
                  </md-input-container>
              </div>
              <div fxFlex="48">
                <span>
                  Fax*
                </span>
                  <md-input-container>
                    <input mdInput type="text" [ngModel]="(items|async)?.applicantFax" (ngModelChange)="items.update({applicantFax: $event})"
                           name="applicantFax">
                  </md-input-container>
              </div>
            </div>
            <div>
              <span>
                DX
              </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.applicantDX" (ngModelChange)="items.update({applicantDX: $event})"
                       name="applicantDX">
              </md-input-container>
            </div>
            <div>
              <span>
                Lawyer’s code
              </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.applicantLawyerCode" (ngModelChange)="items.update({applicantLawyerCode: $event})"
                       name="applicantLawyerCode">
              </md-input-container>
            </div>
            <div>
              <span>
                Email*
              </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.applicantEmail" (ngModelChange)="items.update({applicantEmail: $event})"
                       name="applicantEmail">
              </md-input-container>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
          <div class="group">
            <div>
              <div fxLayout="row">
                <md-input-container fxFlex="100">
                  <textarea mdInput
                            [ngModel]="(items|async)?.respondentContactAddress "
                            (ngModelChange)="items.update({respondentContactAddress: $event})"
                            name="respondentContactAddress"></textarea>
                </md-input-container>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex="48">
                <span>
                  State
                </span>
                <md-input-container>
                  <input mdInput type="text" [ngModel]="(items|async)?.respondentState" (ngModelChange)="items.update({respondentState: $event})"
                         name="respondentState">
                </md-input-container>
              </div>
              <div fxFlex="48">
                <span>
                  Postcode
                </span>
                <md-input-container>
                  <input mdInput type="text" [ngModel]="(items|async)?.respondentPostcode" (ngModelChange)="items.update({respondentPostcode: $event})"
                         name="respondentPostcode">
                </md-input-container>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
              <div fxFlex="48">
                <span>
                  Phone
                </span>
                <md-input-container>
                  <input mdInput type="text" [ngModel]="(items|async)?.respondentPhone" (ngModelChange)="items.update({respondentPhone: $event})"
                         name="respondentPhone">
                </md-input-container>
              </div>
              <div fxFlex="48">
                <span>
                  Fax*
                </span>
                <md-input-container>
                  <input mdInput type="text" [ngModel]="(items|async)?.respondentFax" (ngModelChange)="items.update({respondentFax: $event})"
                         name="respondentFax">
                </md-input-container>
              </div>
            </div>
            <div>
              <span>
                DX
              </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.respondentDX" (ngModelChange)="items.update({respondentDX: $event})"
                       name="respondentDX">
              </md-input-container>
            </div>
            <div>
              <span>
                Lawyer’s code
              </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.respondentLawyerCode" (ngModelChange)="items.update({respondentLawyerCode: $event})"
                       name="respondentLawyerCode">
              </md-input-container>
            </div>
            <div>
              <span>
                Email*
              </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.respondentEmail" (ngModelChange)="items.update({respondentEmail: $event})"
                       name="respondentEmail">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="4">
      <span>4. When and in what country were you born?	</span>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div fxLayout="column" fxFlex="48" fxFlex.sm="100">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <span>
                  DAY / MONTH / YEAR
                </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.applicantBornDate" (ngModelChange)="items.update({applicantBornDate: $event})"
                       name="applicantBornDate">
              </md-input-container>
            </div>
            <div fxFlex="48">
                <span>
                  Country
                </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.applicantCountry" (ngModelChange)="items.update({applicantCountry: $event})"
                       name="applicantCountry">
              </md-input-container>
            </div>
          </div>
        </div>
        <div fxLayout="column" fxFlex="48">
          <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="48">
                <span>
                  DAY / MONTH / YEAR
                </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.respondentBornDate" (ngModelChange)="items.update({respondentBornDate: $event})"
                       name="respondentBornDate">
              </md-input-container>
            </div>
            <div fxFlex="48">
                <span>
                  Country
                </span>
              <md-input-container>
                <input mdInput type="text" [ngModel]="(items|async)?.respondentCountry" (ngModelChange)="items.update({respondentCountry: $event})"
                       name="respondentCountry">
              </md-input-container>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="5">
      <span>5.Are you of Aboriginal and/or of Torres Strait Islander origin?</span>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <div>
          <md-radio-group [ngModel]="(items|async)?.applicantOrigin"
                          name="applicantOrigin"
                          (ngModelChange)="items.update({applicantOrigin: $event})"
                          fxLayout="column"
          >
            <md-radio-button [value]="'No'" >
              No
            </md-radio-button>
            <md-radio-button [value]="'Aboriginal'">
              Yes Aboriginal
            </md-radio-button>
            <md-radio-button [value]="'Torres Strait Islander'">
              Yes Torres Strait Islander
            </md-radio-button>
            <md-radio-button [value]="'Aboriginal and Torres Strait Islander'">
              Yes Aboriginal and Torres Strait Islander
            </md-radio-button>
          </md-radio-group>
        </div>
        <div fxLayout="column" fxFlex="48">
          <div>
            <md-radio-group [ngModel]="(items|async)?.respondentOrigin"
                            name="respondentOrigin"
                            (ngModelChange)="items.update({respondentOrigin: $event})"
                            fxLayout="column"
            >
              <md-radio-button [value]="'No'" >
                No
              </md-radio-button>
              <md-radio-button [value]="'Aboriginal'">
                Yes Aboriginal
              </md-radio-button>
              <md-radio-button [value]="'Torres Strait Islander'">
                Yes Torres Strait Islander
              </md-radio-button>
              <md-radio-button [value]="'Aboriginal and Torres Strait Islander'">
                Yes Aboriginal and Torres Strait Islander
              </md-radio-button>
            </md-radio-group>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
