<div class="doc_container">
  <h1>Part B. About the relationship of the parties</h1>

  <form fxLayout="column"
        #f="ngForm"
        class="relationship">
    <div id="6">
      <span>6. When did you begin living together?</span>
      <div fxLayout="row">
        <div fxFlex></div>
        <div fxFlex="10">Not Applicable</div>
      </div>
      <div fxLayout="row">
        <md-input-container fxFlex>
          <input placeholder="DATE	 /	/"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.beganLivingTogetherDate"
                 (ngModelChange)="item.update({beganLivingTogetherDate: $event})"
                 name="beganLivingTogetherDate">
        </md-input-container>
        <md-checkbox fxFlex="10"
                     (ngModelChange)="item.update({beganLivingTogetherNA: $event})"
                     [ngModel]="(item|async)?.beganLivingTogetherNA"
                     name="beganLivingTogetherNA"></md-checkbox>
      </div>
    </div>
    <div id="7">
      <span>7. If married, when and where did you get married?*</span>
      <div fxLayout="row">
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex="10">Not Applicable</div>
      </div>
      <div fxLayout="row">
        <md-input-container fxFlex>
          <input placeholder="DATE	 /	/"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.getMarriedDate"
                 (ngModelChange)="item.update({getMarriedDate: $event})"
                 name="getMarriedDate">
        </md-input-container>
        <md-input-container fxFlex>
          <input placeholder="TOWN/CITY"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.marriedCity"
                 (ngModelChange)="item.update({marriedCity: $event})"
                 name="marriedCity">
        </md-input-container>
        <md-input-container fxFlex>
          <input placeholder="COUNTRY"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.marriedCountry"
                 (ngModelChange)="item.update({marriedCountry: $event})"
                 name="marriedCountry">
        </md-input-container>
        <md-checkbox fxFlex="10"
                     (ngModelChange)="item.update({marriedNA: $event})"
                     [ngModel]="(item|async)?.marriedNA"
                     name="marriedNA"></md-checkbox>
      </div>
    </div>
    <div id="8">
      <span>8. When did you finally separate?</span>
      <div fxLayout="row">
        <div fxFlex></div>
        <div fxFlex="10">Not Applicable</div>
      </div>
      <div fxLayout="row">
        <md-input-container fxFlex>
          <input placeholder="DATE	 /	/"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.separateDate"
                 (ngModelChange)="item.update({separateDate: $event})"
                 name="separateDate">
        </md-input-container>
        <md-checkbox fxFlex="10"
                     (ngModelChange)="item.update({separateNA: $event})"
                     [ngModel]="(item|async)?.separateNA"
                     name="separateNA"></md-checkbox>
      </div>
    </div>
    <div id="9">
      <span>9. When and where did you get divorced?</span>
      <div fxLayout="row">
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex></div>
        <div fxFlex="10">Not Applicable</div>
      </div>
      <div fxLayout="row">
        <md-input-container fxFlex>
          <input placeholder="DATE	 /	/"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.divorcedDate"
                 (ngModelChange)="item.update({divorcedDate: $event})"
                 name="divorcedDate">
        </md-input-container>
        <md-input-container fxFlex>
          <input placeholder="TOWN/CITY"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.divorcedCity"
                 (ngModelChange)="item.update({divorcedCity: $event})"
                 name="divorcedCity">
        </md-input-container>
        <md-input-container fxFlex>
          <input placeholder="COUNTRY"
                 mdInput
                 type="text"
                 [ngModel]="(item|async)?.divorcedCountry"
                 (ngModelChange)="item.update({divorcedCountry: $event})"
                 name="divorcedCountry">
        </md-input-container>
        <md-checkbox fxFlex="10"
                     (ngModelChange)="item.update({divorcedNA: $event})"
                     [ngModel]="(item|async)?.divorcedNA"
                     name="divorcedNA"></md-checkbox>
      </div>
    </div>
  </form>
  <div fxLayout="row"
       fxLayoutAlign="end end">
    <button md-raised-button
            routerLink="/CourtCases">Next</button>
  </div>
</div>