/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
 font-family: Roboto;
}

.doc_container {
  margin: 8px;
}

.field_number {
  font-weight: bold;
  background: #3f51b5;
  color: rgba(255,255,255,.87);
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  font-size: 22px;
}

.group {
  margin-top: 10px;
  border: solid 2px lightgray;
  position: relative;
}

.group button {
  position: absolute;
  bottom: 0;
  right: 0;
}

