/* You can add global styles to this file, and also import other style files */
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';

body {
 font-family: Roboto;
 }

 .primary-color {
    color: #3F51B5!important;
  }
.accent-color {
    color: #FF4081!important;
  }
.background-primary-color {
    background-color: #3F51B5!important;
  }
.background-accent-color {
    background-color: #FF4081!important;
  }
.white-text {
    color: #FFF!important;
}
